{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/personal_traits/page_three.css' %}"/>
<script type="text/javascript" src="{% static 'js/personal_traits/page_three.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
<script type="text/javascript" src="{% static 'js/personal_traits/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                Do you know how to spell (=črkovati) 
                the adjectives? Try doing the
                following exercises. 
            </div>
            <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <audio id="a1" src="{% static 'audio/lesson1_jenny/personal_traits/3.mp3' %}"></audio>
            <div class="msg jenny slo centre">
                Si si že zapomnil zapis pridevnikov? 
                Poskusi rešiti naslednje naloge.    
            </div>
        </div>
        <div class="row inst" style="margin-top: 2vh;">
            <div class="msg jenny">
                What is the meaning of the adjectives?
                Translate them into English or Slovene.
            </div>
            <div class="msg jenny slo centre">
                Kakšen je pomen pridevnikov? Pripiši jim pravi slovenski ali angleški prevod. 
            </div>
            <input type="image" src="{% static 'svg/common/redo.svg' %}" id="redo_b" onclick="redo()">
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container">
    <div class="col-lg-3 full">
    </div>
    <div class="col-lg-6 full" id="fillin">
    </div>
    <div class="col-lg-3 full">
    </div>
</div>
{% endblock %}