{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link href="{% static 'css/introduction/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/personal_traits/page_one.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/enable_button.js' %}" type="text/javascript"></script>
<script src="{% static 'js/sounds.js' %}" type="text/javascript"></script>
<script src="{% static 'js/personal_traits/glossary.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img id="jenny" src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                Click on the words, listen and repeat after me.
            </div>
            <input class="listenToAng" onclick="play('a0')" src="{% static 'svg/common/listen_off.svg' %}" type="image">
            <audio id="a0" src="{% static 'audio/lesson1_jenny/personal_traits/2.mp3' %}"></audio>
            <div class="msg jenny slo centre">
                Klikni na besede, prisluhni izgovorjavi in ponovi za mano.
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="row">
    <div class="col-lg-6 voices">
        <div class="msg user trait">
            smart = pameten
            <img class="listen" id="off" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a1" src="{% static 'audio/lesson1_jenny/personal_traits/Smart.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            stupid = neumen
            <img class="listen" id="off" onclick="play('a2')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a2" src="{% static 'audio/lesson1_jenny/personal_traits/Stupid.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            good = dober
            <img class="listen" id="off" onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a3" src="{% static 'audio/lesson1_jenny/personal_traits/Good.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            bad = slab
            <img class="listen" id="off" onclick="play('a4')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a4" src="{% static 'audio/lesson1_jenny/personal_traits/Bad.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            funny = zabaven
            <img class="listen" id="off" onclick="play('a5')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a5" src="{% static 'audio/lesson1_jenny/personal_traits/Funny.mp3' %}"></audio>
        </div>

        <div class="msg user trait">
            outgoing = družaben
            <img class="listen" id="off" onclick="play('a6')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a6" src="{% static 'audio/lesson1_jenny/personal_traits/Outgoing.mp3' %}"></audio>
        </div>

        <div class="msg user trait">
            kind = prijazen
            <img class="listen" id="off" onclick="play('a7')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a7" src="{% static 'audio/lesson1_jenny/personal_traits/Kind.mp3' %}"></audio>
        </div>
    </div>
    <div class="col-lg-6 voices">
        <div class="msg user trait">
            lazy = len
            <img class="listen" id="off" onclick="play('a8')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a8" src="{% static 'audio/lesson1_jenny/personal_traits/Lazy.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            shy = sramežljiv
            <img class="listen" id="off" onclick="play('a9')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a9" src="{% static 'audio/lesson1_jenny/personal_traits/Shy.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            selfish = sebičen
            <img class="listen" id="off" onclick="play('a10')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a10" src="{% static 'audio/lesson1_jenny/personal_traits/Selfish.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            boring = dolgočasen
            <img class="listen" id="off" onclick="play('a11')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a11" src="{% static 'audio/lesson1_jenny/personal_traits/Boring.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            generous = radodaren, velikodušen
            <img class="listen" id="off" onclick="play('a12')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a12" src="{% static 'audio/lesson1_jenny/personal_traits/Generous.mp3' %}"></audio>
        </div>
        <div class="msg user trait">
            mean = neprijazen, nesramen
            <img class="listen" id="off" onclick="play('a13')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a13" src="{% static 'audio/lesson1_jenny/personal_traits/Mean.mp3' %}"></audio>
        </div>

        <div class="msg user trait">
            hard-working = delaven
            <img class="listen" id="off" onclick="play('a14')" src="{% static 'svg/common/listen_off.svg' %}"
                 type="svg">
            <audio id="a14" src="{% static 'audio/lesson1_jenny/personal_traits/HardWorking.mp3' %}"></audio>
        </div>
    </div>
</div>
{% endblock %}