{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/personal_traits/page_three.css' %}"/>
<script type="text/javascript" src="{% static 'js/personal_traits/page_four.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                2. Match the opposites.
            </div>
            <div class="msg jenny slo centre">
                Poveži nasprotne pomene.
            </div>
            <input type="image" src="{% static 'svg/common/redo.svg' %}" id="redo_b" onclick="redo()">
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container">
    <div class="col-lg-1 full">
    </div>
    <div class="col-lg-10 full">
        <div class="col-lg-6" id="drag1">
            <div class="drop" id="match01" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m01" ondragstart="drag(event)" onclick="toOrigin(this)">
                    smart
                </div>
            </div>
            <div class="drop" id="match02" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m02" ondragstart="drag(event)" onclick="toOrigin(this)">
                    good
                </div>
            </div>
            <div class="drop" id="match03" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m03" ondragstart="drag(event)" onclick="toOrigin(this)">
                    hard-working
                </div>
            </div>
            <div class="drop" id="match04" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m04" ondragstart="drag(event)" onclick="toOrigin(this)">
                    generous
                </div>
            </div>
            <div class="drop" id="match05" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m05" ondragstart="drag(event)" onclick="toOrigin(this)">
                    kind
                </div>
            </div>
            <div class="drop" id="match06" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m06" ondragstart="drag(event)" onclick="toOrigin(this)">
                    funny
                </div>
            </div>
            <div class="drop" id="match07" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m07" ondragstart="drag(event)" onclick="toOrigin(this)">
                    outgoing
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="drag2">
            <div class="drop" id="match11" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m11" ondragstart="drag(event)" onclick="toOrigin(this)">
                    shy 
                </div>
            </div>
            <div class="drop" id="match12" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m12" ondragstart="drag(event)" onclick="toOrigin(this)">
                    selfish
                </div>
            </div>
            <div class="drop" id="match13" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m13" ondragstart="drag(event)" onclick="toOrigin(this)">
                    mean
                </div>
            </div>
            <div class="drop" id="match14" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m14" ondragstart="drag(event)" onclick="toOrigin(this)">
                    lazy
                </div>
            </div>
            <div class="drop" id="match15" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m15" ondragstart="drag(event)" onclick="toOrigin(this)"> 
                    stupid
                </div>
            </div>
            <div class="drop" id="match16" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m16" ondragstart="drag(event)" onclick="toOrigin(this)">
                    bad
                </div>
            </div>
            <div class="drop" id="match17" ondrop="drop(event, this, 1)" ondragover="allowDrop(event)">
                <div class="msg user trait" draggable="true" id="m17" ondragstart="drag(event)" onclick="toOrigin(this)">
                    boring
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 full"></div>
</div>
{% endblock %}