body {
    overflow: hidden;
}

@font-face {
  font-family: "RalewayMed";
  src: url('../fonts/Raleway-Medium.ttf');
}

.container {
    width: 100% !important;
    margin-top: 2.5% !important;
    height: 90%;
}

.col-lg-3 {
    width: 100%;
}

img {
    height: auto;
    width: 80%;
}

.main{
    text-align:center;
    height: 100%;
}
.msg {
    width: 90%;
    padding-left: 10%;
}

.inst {
    padding-top: 6%;
}

.jenny {
    margin: 0;
    padding-left: 5%;
}

#table-div {
    width: 100%;
    height: 70%;
    padding-top: 6%
}

table {
    width: 90%;
    margin: auto;
    height: 100%;
    float: left;
}

td {
    background-color: #3097C3;
    border-collapse: collapse;
    border: 3px #ffffec solid;
    color: white;
    font-family: "RalewayMed";
    font-size: 1.3em;
}

table .color {
    border-radius: 50% 0 0 50%;
}

