#avatar {
    width: 70%;
}

.container {
    height: 65%;
}

.column {
    height: 100%;
}

.flag {
    height: 60%;
    width: 100%;
}

.first {
    height: 50%;
    text-align: center;
}

input {
    margin-top: 1% !important;
    height: 80%;
    width: 60%;
    background: #E4E3E8;
}

.input {
    width: 30%;
    float: left;
    margin-top: 3% !important;
    border-radius: 40%;
    height: 20%;
    font-size: 1.2em;
    background: #E4E3E8 !important;
    margin: auto;
}

.correct {
    color: #00A881;
    border-radius: 30%;
}

.incorrect {
     color: #F15D2A;
     border-radius: 30%;
}