{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/he_she_it/page_thirteen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/he_she_it/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg user">
                Now, describe people without any help. 
            </div>
            <div class="msg jenny slo centre">
                Zdaj osebe opiši brez pomoči. 
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container.fluid">
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/man_full02.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['plump','fat','happy','tall'], 'M')" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/man_full03.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst">
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['slender','slim','happy','tall'], 'M')" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/woman_tall.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['tall', 'slender', 'slim', 'happy'], 'F')" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/woman_full_purple.svg' %}" type="svg" style="height:37vh;margin-top: 8vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['slender', 'slim','short', 'happy'], 'F')" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}