{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/he_she_it/glossary.js' %}"></script>
<style>
.blue {
    background-color: #6282B7;
    width: 50% !important;
    float: left;
}
.green {
    background-color: #00a881;
    width: 50% !important;
    float: left;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                Namesto zaimkov lahko uporabimo tudi 
                osebna imena. Prav tako lahko osebna 
                imena zamenjamo z zaimki. Poglejva. 
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container.fluid">
    <div class="col-lg-2" style="text-align: center;">
    </div>
    <div class="col-lg-4" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/jim.svg' %}" type="svg" style="height:45vh;margin-top: 0vh;">
    </div>
    <div class="col-lg-4" style="text-align: center;">
        <div class="row inst" style="margin-top: 10vh;">
            <div class="row inst">
                <div class="msg blue">
                    <p style="color:#e6a454;font-weight: bold; margin:0">Jim</p> is tall.
                </div>
                <div class="msg green">
                    <p style="color:#e6a454;font-weight: bold; margin:0">He</p> is plump.
                </div>
            </div>
        </div>
        <div class="row inst">
            <div class="msg jenny">
                Si videl, kaj sem naredila?
                V drugi povedi nisem 
                ponovila imena, pač pa 
                sem osebo izrazila 
                s pomočjo
                osebnega zaimka. 
            </div>
        </div>
    </div>
    <div class="col-lg-2" style="text-align: center;">
    </div>
</div>
{% endblock %}