{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_eighteen.css' %}"/>
<script type="text/javascript" src="{% static 'js/he_she_it/page_eighteen.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny" id="instructions">
                Poznamo tudi okrajšane oblike glagola biti. <br>
                Preglej tabelo in reši nalogo, ki sledi. <br>
                Ne pozabi si tabel zapisati v zvezek. 
            </div>
            <button class="next" onclick="next(this)" type="button" id="nxt">Next</button>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="col-lg-8 tablebox">
    <div class="msg jenny header">
        Ednina (Singular)
    </div>
    <div class="help-table" id="help-table">
        <div class="help row">
            <button class="col-lg-6 tip" disabled>1.	oseba</button>
            <button class="col-lg-6 tip" disabled>I am</button>
            <button class="col-lg-6 tip lst" disabled>
                I'm
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>Jaz sem</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip" disabled>2.	oseba</button>
            <button class="col-lg-6 tip" disabled>You are</button>
            <button class="col-lg-6 tip lst" disabled>
                You're
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>Ti si</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip c1" disabled>3.	oseba</button>
            <button class="col-lg-6 tip" disabled>He is</button>
            <button class="col-lg-6 tip lst" disabled>
                He's
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>On je</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip c1" disabled></button>
            <button class="col-lg-6 tip" disabled>She is</button>
            <button class="col-lg-6 tip lst" disabled>
                She's
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>Ona je</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip c1" disabled></button>
            <button class="col-lg-6 tip" disabled>It is</button>
            <button class="col-lg-6 tip lst" disabled>
                It's
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>Ono je</button>
        </div>
    </div>

    <div class="msg jenny header space">
        Množina (Singular)
    </div>
    <div class="help-table" id="help-table">
        <div class="help row">
            <button class="col-lg-6 tip" disabled>1.	oseba</button>
            <button class="col-lg-6 tip" disabled>We are</button>
            <button class="col-lg-6 tip lst" disabled>
                We're
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>Mi smo</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip" disabled>2.	oseba</button>
            <button class="col-lg-6 tip" disabled>You are</button>
            <button class="col-lg-6 tip lst" disabled>
                You're
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip">Vi ste</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip" disabled>3.	oseba</button>
            <button class="col-lg-6 tip" disabled>They are</button>
            <button class="col-lg-6 tip lst" disabled>
                They're
                <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
            </button>
            <button class="col-lg-6 tip" disabled>Oni so</button>
        </div>
    </div>
</div>
{% endblock %}