{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_eighteen.css' %}" />
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/he_she_it/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny" id="instructions">
                Si vedel, da lahko glagole tudi zanikamo?
                To storimo tako, da jim dodamo nikalno
                besedo <p style="color:#D55225;font-weight: bold; margin:0">NOT</p>. Poznamo pa tudi krajšo
                obliko. Pri tem glagol <p style="color:#D55225;font-weight: bold; margin:0">BITI</p> in besedo
                <p style="color:#D55225;font-weight: bold; margin:0">NOT</p> združimo. Kratke in dolge oblike
                si poglejva v tabeli.
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="col-lg-4 inst" style="padding: 0;">
    <div class="msg jenny" style="width:100%;padding:2vh;margin-left: 1.5vw;">
        Dolge oblike so precej preproste. Celotni trdilni strukturi, ki jo že poznaš, dodamo
        <p style="color:#D55225;font-weight: bold; margin:0">NOT</p>. <br>
        Pri kratkih oblikah pa se zadeve malce spremenijo.
        Enako ostane le pri prvi osebi, kjer tudi okrajšani obliki zgolj dodamo nikalnico
        <p style="color:#D55225;font-weight: bold; margin:0">NOT</p>, torej:
        <p style="color:#D55225;font-weight: bold; margin:0">I'M NOT</p>. <br>
        <p style="color:#D55225;font-weight: bold; margin:0">ARE NOT</p> skrajšamo v
        <p style="color:#D55225;font-weight: bold; margin:0">AREN'T</p> in
        <p style="color:#D55225;font-weight: bold; margin:0">IS NOT</p> skrajšamo v
        <p style="color:#D55225;font-weight: bold; margin:0">ISN'T</p>.
        Besedi torej povežemo v eno besedo, črko o v
        <p style="color:#D55225;font-weight: bold; margin:0">NOT</p>
        pa zamenja apostrof. Tokrat se apostrof ne veže na osebo.
    </div>
</div>
<div class="col-lg-8">
    <div class="msg jenny header">
        Ednina (Singular)
    </div>
    <div class="help-table" id="help-table">
        <div class="help row">
            <button class="col-lg-6 tip" disabled>1. oseba</button>
            <audio id="a1" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/IamNot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a1')"><span>I am <p style="color:#FFCF01; margin:0">not</p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button></button>
            <audio id="a2" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Imnot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a2')"><span>I'm <p style="color:#FFCF01; margin:0">not</p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button></button>
            <button class="col-lg-6 tip" disabled>Jaz nisem</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip" disabled>2. oseba</button>
            <audio id="a3" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Youarenot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a3')"><span>You are <p style="color:#FFCF01; margin:0">not
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            </button>
            <audio id="a4" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Youarent.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a4')"><span>You <p style="color:#FFCF01; margin:0">aren't
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button></button>
            <button class="col-lg-6 tip" disabled>Ti nisi</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip c1" disabled>3. oseba</button>
            <audio id="a5" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Heisnot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a5')"><span>He is <p style="color:#FFCF01; margin:0">not
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button></button>
            <audio id="a6" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Heisnt.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a6')"><span>He <p style="color:#FFCF01; margin:0">isn't</p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button></button>
            <button class="col-lg-6 tip" disabled>On ni</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip c1" disabled></button>
            <audio id="a7" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Sheisnot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a7')"><span>She is <p style="color:#FFCF01; margin:0">not
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            </button>
            <audio id="a8" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Sheisnt.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a8')"><span>She <p style="color:#FFCF01; margin:0">isn't
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button></button>
            <button class="col-lg-6 tip" disabled>Ona ni</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip c1" disabled></button>
            <audio id="a9" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Itisnot.mp3' %}"></audio>
            <button class="col-lg-6 tip line line" onclick="play('a9')"><span>It is <p style="color:#FFCF01; margin:0">
                        not
                    </p></span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button>
            <audio id="a10" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Itisnt.mp3' %}"></audio>
            <button class="col-lg-6 tip line line" onclick="play('a10')"><span>It <p style="color:#FFCF01; margin:0">
                        isn't
                    </p></span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button>
            <button class="col-lg-6 tip" disabled>Ono ni</button>
        </div>
    </div>

    <div class="msg jenny header space">
        Množina (Plural)
    </div>
    <div class="help-table" id="help-table">
        <div class="help row">
            <button class="col-lg-6 tip" disabled>1. oseba</button>
            <audio id="a11" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Wearenot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a11')"><span>We are <p style="color:#FFCF01; margin:0">not
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            <audio id="a12" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Wearent.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a12')"><span>We <p style="color:#FFCF01; margin:0">aren't
                    </p></span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen"
                    id="off"></button>
            <button class="col-lg-6 tip" disabled>Mi nismo</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip" disabled>2. oseba</button>
            <audio id="a13" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Youarenot2.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a13')"><span>You are <p style="color:#FFCF01; margin:0">not
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            <audio id="a14" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Youarent2.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a14')"><span>You <p style="color:#FFCF01; margin:0">aren't
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            <button class="col-lg-6 tip">Vi niste</button>
        </div>
        <div class="help row">
            <button class="col-lg-6 tip" disabled>3. oseba</button>
            <audio id="a15" src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Theyarenot.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="play('a15')"><span>They are <p style="color:#FFCF01; margin:0">
                        not</p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            <audio src="{% static 'audio/lesson1_jenny/he_she_it/tabela3/Theyarent.mp3' %}"></audio>
            <button class="col-lg-6 tip line" onclick="tts('a16')" id="a16"><span>They <p
                        style="color:#FFCF01; margin:0">aren't
                    </p>
                </span><img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off"></button>
            <button class="col-lg-6 tip" disabled>Oni niso</button>
        </div>
    </div>
</div>
{% endblock %}