{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_one.css' %}" />
<script type="text/javascript" src="{% static 'js/he_she_it/page_sixteen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/he_she_it/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg user">
                These are George and Mary. Complete their descriptions using: <br> bald, happy, slender, tall,
                short,
                old, young.
            </div>
            <div class="msg jenny slo centre">
                To sta George in Mary. Dopolni njuna opisa, uporabi: <br> plešast, vesel, vitek, visok, nizek, star,
                mlad.
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container.fluid">
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/george.svg' %}" type="svg" style="height:37vh;margin-top: 8vh;">
    </div>
    <div class="col-lg-6" style="text-align: center;">
        <div class="inst">
            <div class="msg jenny slo" style="width: 90%; margin-left: 0; margin-top: 20%;">
                George is
                <input class=textarea onchange="solution(this,['short','bald','happy','slender', 'old'])"
                    style="border-color:#6282B7;background-color: transparent;width: 15%" />
                . He is
                <input class=textarea onchange="solution(this,['short','bald','happy','slender', 'old'])"
                    style="border-color:#6282B7;background-color: transparent;width: 15%" />
                and
                <input class=textarea onchange="solution(this,['short','bald','happy','slender', 'old'])"
                    style="border-color:#6282B7;background-color: transparent;width: 15%" />
                .
            </div>
        </div>
        <div class="inst">
            <div class="msg jenny slo" style="width: 90%; margin-left: 10%; margin-top: 20%;">
                Mary is
                <input class=textarea onchange="solution(this,['tall','happy','slender', 'young'])"
                    style="border-color:#6282B7;background-color: transparent;width: 15%" />
                . She is
                <input class=textarea onchange="solution(this,['tall','happy','slender', 'young'])"
                    style="border-color:#6282B7;background-color: transparent;width: 15%" />
                and
                <input class=textarea onchange="solution(this,['tall','happy','slender', 'young'])"
                    style="border-color:#6282B7;background-color: transparent;width: 15%" />
                .
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/woman_tall.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
    </div>
</div>
{% endblock %}