{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_one.css' %}"/>
<script>
    function solution(el,solution) {
    let parent = el.parentElement;
    if (el.value == solution) {
        parent.classList.remove("incorrect");
        parent.classList.add("correct");
    } else {
        parent.classList.add("incorrect");
        parent.classList.remove("correct");
    }
    let paras = document.getElementsByClassName("slo")
    let counter = 0;
    for(let x in paras) {
        if(paras[x].classList !== undefined && paras[x].className.includes("correct") && !paras[x].className.includes("incorrect"))
            counter++;
    }
    if(counter === 2)
        document.getElementById("next").removeAttribute("disabled")
    else
        document.getElementById("next").setAttribute("disabled", "disabled");
}
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg user">
                Describe the people in the photos. 
                Choose between the words: slender, 
                plump, tall, short, happy, sad and bald.

            </div>
            <div class="msg jenny slo centre">
                Opiši osebe na fotografijah. Izbiraj med besedami: 
                slender, plump, tall, short, happy, sad in bald.
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <!--AVATAR-->
    </div>
</div>
<div class="container.fluid">
    <div class="col-lg-12" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/man_full_blue.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="margin-left: 33%;width: 33%; height: 5vh;padding:1vh">
                He is
                <input class=textarea onchange="solution(this,'bald')" style="border-color:#6282B7;background-color: transparent;"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}