{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/he_she_it/page_thirteen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/he_she_it/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg user">
                Form sentences: He/She is not … 
                Use the hints in the brackets. 
                Use the short forms.
            </div>
            <div class="msg jenny slo centre">
                Oblikuj povedi: Oseba ni … Pomagaj si z namigi 
                v oklepajih. Uporabi kratke oblike.
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container.fluid">
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/woman_full_green.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['tall','fat','plump','happy'],'F',true)" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/man_young02.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst">
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['tall','slim','slender','happy'],'M',true)" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/man_young.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['tall','slim','slender','sad'],'M',true)" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
        <img src="{% static 'svg/lesson1/he_she_it/girl.svg' %}" type="svg" style="height:40vh;margin-top: 5vh;">
        <div class="inst" >
            <div class="msg jenny slo" style="width: 100%;margin-left: 0;">
                <input class=textarea onchange="solution(this,['short','slim','slender','happy'],'F',true)" style="border-color:#6282B7;background-color: transparent;width: 100%"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}