{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/he_she_it/page_thirtyeight.css' %}" />
<script type="text/javascript" src="{% static 'js/he_she_it/page_thirtyeight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/he_she_it/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg user">
                Is the written structure correct (T = true) <br>or incorrect (F = false)?
            </div>
            <div class="msg jenny slo centre">
                Je zapisana struktura pravilna (T = true) <br>ali napačna (F = false)?
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="container fluid flexy" style="text-align: center;">
    <div class="col-lg-3 this" style="text-align: center; height: 100%;">
    </div>
    <div class="col-lg-4 this" style="text-align: center; height: 100%;">
        <div class="inst penny msg gridder" style="width: 80%; height: 100%;">
            <span class="msg jenny slo in question">a) You(ed.) has </span>
            <span class="msg jenny slo in question">b) She has <br></span>
            <span class="msg jenny slo in question">c) He have <br></span>
            <span class="msg jenny slo in question">d) I has <br></span>
            <span class="msg jenny slo in question">e) We have <br></span>
            <span class="msg jenny slo in question">f) It have <br></span>
            <span class="msg jenny slo in question">g) I have <br></span>
            <span class="msg jenny slo in question">h) They have <br></span>
            <span class="msg jenny slo in question">i) You(mn.) have <br></span>
            <span class="msg jenny slo in question">j) She have <br></span>
            <span class="msg jenny slo in question">k) You (ed.) have <br></span>
            <span class="msg jenny slo in question">l) He has <br></span>
            <span class="msg jenny slo in question">m) We has <br></span>
            <span class="msg jenny slo in question">n) They has <br></span>
            <span class="msg jenny slo in question">o) You (mn.) has <br></span>
            <span class="msg jenny slo in question">p) It has <br></span>
        </div>
    </div>
    <div class="col-lg-2 this" style="text-align: center; height: 100%;">
        <div class="inst gridder gridder2">
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                a)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                b)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                c)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                d)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                e)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                f)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                g)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                h)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                i)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                j)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                k)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                l)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                m)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                n)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                o)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                F
            </div>
            <div class=" msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;">
                p)
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_c(this)">
                T
            </div>
            <div class="msg jenny slo in"
                style="width: 80%; margin:0;font-size: 1.5vh;padding:0.25vh 0;text-align: center;"
                onclick="toggle_i(this)">
                F
            </div>
        </div>
    </div>
</div>
{% endblock %}