{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_seven.css' %}"/>
<script type="text/javascript" src="{% static 'js/exercises/page_seven.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row images">
        <div class="col-lg-3 svg">
            <img src="{% static 'svg/lesson1/exercises/SVG/danielle.svg' %}" type="svg">
        </div>
        <div class="col-lg-3 svg">
            <img src="{% static 'svg/lesson1/exercises/SVG/andrew.svg' %}" type="svg">
        </div>
        <div class="col-lg-3 svg">
            <img src="{% static 'svg/lesson1/exercises/SVG/sunita.svg' %}" type="svg">
        </div>
        <div class="col-lg-3 svg">
            <img src="{% static 'svg/lesson1/exercises/SVG/anita.svg' %}" type="svg">
        </div>
    </div>
    <div class="row">
        <div class="example col-lg-3">
            <div class="msg user">Danielle, 34, Italy</div>
            <div class="msg user one"><input class="textarea name" type="text"
                                             onchange="solution(this, 'My name is Danielle./I am Danielle.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I am 34 years old.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I live in Italy.')">
            </div>
        </div>
        <div class="example col-lg-3">
            <div class="msg user">Andrew, 17, America</div>
            <div class="msg user one"><input class="textarea name" type="text"
                                             onchange="solution(this, 'My name is Andrew./I am Andrew.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I am 17 years old.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I live in America.')">
            </div>
        </div>
        <div class="example col-lg-3">
            <div class="msg user">Sunita, 89, India</div>
            <div class="msg user one"><input class="textarea name" type="text"
                                             onchange="solution(this, 'My name is Sunita./I am Sunita.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I am 89 years old.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I live in India.')">
            </div>
        </div>
        <div class="example col-lg-3">
            <div class="msg user">Anita, 50, Slovenia</div>
            <div class="msg user one"><input class="textarea name" type="text"
                                             onchange="solution(this, 'My name is Anita./I am Anita.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I am 50 years old.')">
                <br><input class="textarea" type="text"
                           onchange="solution(this, 'I live in Slovenia.')">
            </div>
        </div>
    </div>
</div>
{% endblock %}