.full-width {
    width: 100% !important;
}

.listenButton {
    height: 3vh;
    float: right;
    border-radius: 50%;
}

.listenButton:hover {
    cursor: pointer;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
}

.icon {
    width:33%;
    margin-left: 33%;
    margin-top: 6%;
}