{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6">
                <div class="row inst space">
                    <div class="msg jenny full-width" style="background-color: #006655">
                        Jim: Now, fill in the sentences.
                    </div>
                    <div class="msg jenny translation full-width">
                        Zdaj zapolni povedi.
                    </div>
                </div>
                <script>
                    function solution(source, solution) {
                        if (source.value === solution) {
                            source.style.color = "#00a881";
                        } else {
                            source.style.color = "#f15d2a";
                        }
                    }
                </script>
                <div class="col-lg-8 translation msg" style="margin-top: 10px;">
                    <div>
                        We sleep in the<input type="text" style="border-bottom: black 1px dashed" onchange="solution(this,'bedroom')">
                    </div>
                    <div>
                        We cook in the <input type="text" style="border-bottom: black 1px dashed" onchange="solution(this,'kitchen')">
                    </div>
                    <div>
                        We brush our teeth in the <input type="text" style="border-bottom: black 1px dashed" onchange="solution(this,'bathroom')">
                    </div>
                    <div>
                        We watch television in the <input type="text" style="border-bottom: black 1px dashed" onchange="solution(this,'living room')">
                    </div>
                    <div>
                        We plant flowers in the <input type="text" style="border-bottom: black 1px dashed" onchange="solution(this,'garden')">
                    </div>
                    <div>
                        We eat meals in the <input type="text" style="border-bottom: black 1px dashed" onchange="solution(this,'dining room')">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row inst space">
                        <div class="msg jenny full-width" style="background-color: #006655">
                            Thank Jim for showing us his house.
                        </div>
                        <div class="msg jenny translation full-width">
                            Zahvali se Jimu, da nama je pokazal hišo.
                        </div>
                    </div>
                    <div class="row inst space">
                        <div class="msg jenny full-width " style="background-color: #006655">
                            Razlaga: Thank you = Hvala; when you say 'thank you' you are being polite. Ko rečeš, hvala si vljuden.
                        </div>
                        <div class="msg jenny translation full-width">
                            <input type="text" style="text-align: center;width: 80%;border-bottom: black 1px dashed" onchange="solution(this,'Thank you')">
                        </div>
                    </div>
                </div>
            </div>
            {% include "character.html" %}

        </div>
    </div>
{% endblock %}