{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6">
                <div class="row inst space">
                    <div class="msg jenny full-width" style="background-color: #006655">
                        Jim: Before you go, let me show you around my house. I am very proud of it. We renovated it last month. Let's go upstairs first.
                    </div>
                    <div class="msg jenny translation full-width">
                        Naj ti pokažem hišo preden odideš. Zelo ponosen sem nanjo. Prejšnji mesec smo jo prenovili. Greva najprej v zgornje nadstropje.
                    </div>
                    <div class="msg jenny full-width">
                        Jenny: Look out for the objects in the house!
                    </div>
                    <div class="msg jenny translation full-width">
                        Bodi pozoren na predemte v hiši!
                    </div>
                </div>
            </div>
            {% include "character.html" %}
            <div class="col-lg-2 full"></div>
            <div class="col-lg-6">
                {% get_static_prefix as STATIC_PREFIX %}
                <img src="{{ STATIC_PREFIX }}{{ picture }}" type="svg" style="height: 10%;width:auto; margin-top: 10px;">
            </div>
            <div class="col-lg-3">
                <div class="row inst space">
                    <div class="msg jenny full-width flex" style="background-color: #006655">
                        <div style="flex-direction: column; justify-content: space-evenly">
                            <div class="flex">
                                A shower: Prha <img class="flex" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton" style="height: 30px;">
                            </div>
                            <div class="flex">
                                A toilet: Straniščna školjka  <img class="flex" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton" style="height: 30px;">
                            </div>
                            <div class="flex">
                                A washing machine: Pralni stroj <img class="flex" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton" style="height: 30px;">
                            </div>
                            <div class="flex">
                                A washbasin: umivalnik <img class="flex" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton" style="height: 30px;">
                            </div>
                            <div class="flex">
                                A towel: Brisača  <img class="flex" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton" style="height: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}