{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6">
                <div class="row inst space">
                    <div class="msg jenny full-width" style="background-color: #006655">
                        Oh no! I have lost my glasses. Help me look for them. Fill in the sentences with the right preposition (under, on, next to, in).
                    </div>
                    <div class="msg jenny translation full-width">
                        O ne! Izgubil sem očala. Pomagaj mi jih najti. Zapolni povedi s pravim predlogom.
                    </div>
                </div>
            </div>
            {% include "character.html" %}
             <div class="col-lg-4">
                <img src="{% static 'svg/lesson3/house/garden 03.svg' %}" type="svg" style="height: 10%;width:auto; margin-top: 10px;">
            </div>
            <div class="col-lg-4" style="background-color: #006655; border-radius: 15px; margin-top: 10px; text-align: left; padding-left: 20px">
                <p style="font-weight: normal; color: white;">The glasses are <input type="text" style="border-bottom: dashed white 1px; width: 20px" onchange="check_entery(this,'in')"> the bucket. </p>
                <p style="font-weight: normal; color: white;">The glasses are <input type="text" style="border-bottom: dashed white 1px; width: 20px" onchange="check_entery(this,'on')"> the fence.  </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function check_entery(element, solution) {
            if(element.value.toLowerCase().trim() === solution){
                element.style.color = "#00ff22"
            }else{
                element.style.color = "#ff7800"
            }
        }
    </script>
{% endblock content %}