.titleB {
    background: #58469F !important;
}

.titleB:hover {
    background: #58469F !important;
}

.lesson {
    background: #58469F !important;
}

.shadow {
    background: #dce6e0 !important;
}

.lesson: hover {
    background: #58469F !important;
}

.user {
    background: #58469F;
}
