@font-face {
    font-family: "RalewayMed";
    src: url('../fonts/Raleway-Medium.ttf');
  }
  
.disclaimer {
    min-width: 300px;
    border-radius: 20%;
    padding: 4%;
    background: #58309d;
    color: #ffffec;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.mobile-version {
    position: absolute;
    text-align: center;
    display:none;
    z-index: 10;
    background-color: #ffffec;
}

@media only screen and (max-width: 800px) {
    .mobile-version {
        display: table-cell;
        vertical-align: middle;
    }
    .tip {
        display: none;
    }
}
