@font-face {
  font-family: "RalewayEB";
  src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: "RalewayMed";
  src: url('../fonts/Raleway-Medium.ttf');
}

html, body {
    height: 100%;
    min-height: 100%;
    background-color: #ffffec;
    overflow: hidden;
}

h3 {
    color: white;
    font-family: "RalewayEB";
    margin: 0;
    padding: 0;
}

h5 {
    margin: 0;
    padding: 0;
    color: #fbad18;
    font-family: "RalewayMed";
}

input {
    border-radius: 45px !important;
    background: #c1c0db !important;
    font-family: "RalewayEB" !important;
    border: none;
    width: 100%;
    height: 10% !important;
}

input#Password {
    -webkit-text-security: disc;
}

i{
    font-size: 1.5em;
    font-weight: bolder;
}

.submitButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00a881;
    font-family: "RalewayEB";
    font-size: 1.5em;
    width: 30%;
    height: auto;
    right: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    border-radius: 999px;
}

.submitButton:hover {
    color: #58309d;
}

.login {
    text-align: left;
    width: 23%;
    min-width: 400px;
    border-radius: 20%;
    background: #58309d;
    margin: 10vh auto auto;
}

.tip {
    text-align: center;
    position: absolute;
    width: 20vw;
    border-radius: 20%;
    padding: 2%;
    background: #58309d;
    right: 5vw;
    top: 10vh;
}

.form {
    padding: 10% 10% 10%;
}

.shade {
    margin-left: 20%;
    height: 100%;
    width: 100%;
    background-color: #58469f;
    border-radius: 45% 20% 20% 45%;
    -webkit-border-radius: 45% 20% 20% 45%;
    -moz-border-radius: 50% 20% 20% 50%;
}

.inputElemenet {
    margin-left: -20%;
    padding: 3.5%;
}

.inputElemenet > h5 {
    padding-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 0;

    margin-left: 10%;
    margin-right: 10%;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

footer img{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.logo1 {
    height: 5%;
    width: 5%;
}

.logo {
    width: 10%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
