@font-face {
  font-family: "RalewayEB";
  src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: "RalewayMed";
  src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: "RalewayReg";
  src: url('../fonts/Raleway-Regular.ttf');
}

body {
  font-family: 'RalewayEB';
  background-color: #e4e3e8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  width: 100%;
  height: 71px;
  color: #ffffff;
  border: none;
  background-color: #6699CC;
}

button:focus {
  outline-width: 0;
}

button:hover {
  background-color: #ebc35c;
}

button[class="titleB"]:hover {
  background-color: #3E83D5;
  cursor: default;
}

.submenu {
  max-height: fit-content;
  display: none;
}

.submenu > li > button {
  height: 41px;
  background-color: #4b5385;
}

.titleB {
  background-color: #3E83D5;
  font-size: 24px;
}

.dictB {
  background-color: #3E83D5;
}

.SB:hover {
    background-color: #ebc35c !important;
}

.mainB:hover {
    background-color: #ebc35c !important;
}

.solved {
  position: absolute;
  z-index:2;width: 48%;
  margin-left: -25%;
  margin-top: 4vh;
  border-radius: 50px;
  font-size: 2vh;
  background-color: rgb(235, 195, 92);
  height: 15vh;
  opacity: 75%;
  border: thick #e6a454; 
  border-style: solid;
}

.lesson {
  position: absolute;
  width: 70%;
  left: 0;
  background-color: #3E83D5;

  font-size: 24px;
  border-radius: 0px 50px 50px 0px;
}

.lesson:hover {
  background-color: #3E83D5;
  cursor: default;
}

.chapter {
  position: absolute;
  right: 0;
  width: 70%;
  font-size: 24px;
  float: right;
  background-color: #e6a454;
  border-radius: 50px 0px 0px 50px;
}

.chapter:hover {
  background-color: #e6a454 !important;
  cursor: default;
}

.shadow {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  top: 1.5vh;
  background-color: #dce6e0;
  width: 77%;
}

.shadow:hover {
  background-color: #dce6e0 !important;
  cursor: default;
}

.next {
  width: 20%;
  height: 5vh;
  margin-left: 50%;
  margin-right: 5%;
  background-color: #00a881;
  border-radius: 50px 50px 50px 50px;
  font-size: 3vh;
  position: sticky;
  float: right;
}

.back {
  width: 20%;
  height: 5vh;
  margin-left: 5%;
  background-color: #6282B7;
  border-radius: 50px 50px 50px 50px;
  font-size: 3vh;
  position: sticky;
  float: left;
}

.navigation {
  padding: 2.5vh;
  height: 10%;
}

.navigation:before {
  content: none;
}

.row {
  margin: 0;
  background-color: #ffffec;
}

.overlay {
  height: 10%;
}

.content {
  padding-top: 3%;
  height: 80%;
  /*overflow-y: auto;*/
}

.container-fluid {
  padding: 0;
}

.container-fluid > .col-lg-7 {
  padding: 0;
  background-color: #ffffff;
  height: 100vh;
}

.container-fluid > .col-lg-2,
.col-lg-3 {
  text-align: center;
  padding: 0;
  height: 100%;
}

.container-fluid > .col-lg-2 {
  font-family: "RalewayEB";
  font-size: 28.2px;
}

.container-fluid > .col-lg-3 {
  font-family: "RalewayMed";
  font-size: 24px;
}

#next:disabled {
    opacity: 0.65;
}

#jenny-full {
  padding-left: 10%;
  padding-top: 5%;
  position: sticky;
  top: 0;
  height: 100%;
}

#Menu {
    height: 100vh;
    overflow-y: hidden;
}

.logos {
    bottom: 0;
    position: absolute;
    z-index:-1;
}

.logo {
    width: 80px;
}

.logo1 {
    height: 60px;
    width: 60px;
}