{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg jenny"><pr class="orange">A in AN</pr> uporabimo, ko nekaj omenimo prvič ali ko govorimo o določeni kategoriji. <pr class="purple">THE</pr> uporabimo, ko sogovornik ve, o čem govorimo (smo neko stvar že omenili ali obstaja le en primerek).</div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="col-lg-1 full"></div>
    <div class="col-lg-10">
        <div class="col-lg-4">
            <div class="row inst space">
                <div class="msg jenny">I live in <pr class="orange">a</pr> house.</div>
                <div class="msg jenny translation">Živim v hiši.</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row inst space">
                <div class="msg jenny"><pr class="purple">The </pr> house is red.</div>
                <div class="msg jenny translation"> Hiša je rdeča.</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row inst space">
                <div class="msg jenny">Turn on <pr class="purple">the</pr> TV</div>
                <div class="msg jenny translation">Prižgi televizor.</div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 full"> </div>
    <div class="col-lg-3 full"> </div>
    <div class="col-lg-6">
        <div id="conversation">
            <div class="row inst space">
                <div class="msg jenny">Ko prvič omenimo nekaj, uporabimo nedoločni člen. Ko ponovno omenimo to isto stvar, uporabimo določni člen. Določni člen uporabimo tudi, ko govorimo o točno določenem primerku, kot npr. v drugem primeru: v sobi je le ena televizija, zato ne moremo govoriti o nobeni drugi televiziji kot izključno o tej.</div>
            </div>
            <div class="row inst space">
                <div class="msg jenny">
                    I want to watch <pr class="orange">a</pr> film. Did you watch <pr class="purple">the</pr> film about <pr class="purple"the</pr> queen?
                </div>
                <div class="msg jenny translation"> Hočem pogledati film. Si gledal tisti film o kraljici?</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"> </div>
</div>
{% endblock %}