{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<script type="text/javascript" src="{% static 'js/lesson2/articles/page_seven.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/articles/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg user" style="float:unset">
                    Complete the sentences with articles.
                </div>
                <div class="msg jenny translation">
                    Dopolni povedi s členi.
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="col-lg-3 full"> </div>
    <div class="col-lg-6">
        <div id="conversation">
            <div class="row">
                <div class="msg user" style="float:unset">
                    To je pes. Pes je rjav.
                </div>
                <div class="msg jenny translation">
                    This is <input class="textarea" style="width:10%" type="text" onchange="solution(this, 'a')"> dog. <input class="textarea" style="width:10%" type="text" onchange="solution(this, 'the')"> dog is brown
                </div>
            </div>
            <div class="row inst space">
                <div class="msg user" style="float:unset">
                    Kje je stranišče?
                </div>
                <div class="msg jenny translation">
                    Where is <input class="textarea" style="width:10%" type="text" onchange="solution(this, 'the')"> toilet?
                </div>
            </div>
            <div class="row inst space">
                <div class="msg user" style="float:unset">
                    Želim prebrati knjigo. Si prebral knjigo o Nikoli Tesli?
                </div>
                <div class="msg jenny translation">
                    I want to read <input class="textarea" style="width:10%" type="text" onchange="solution(this, 'a')"> book. Did you read <input class="textarea" style="width:10%" type="text"
                    onchange="solution(this, 'the')"> book about Nikola Tesla?
                </div>
            </div>
            <div class="row inst space">
                <div class="msg user" style="float:unset">
                    Moja sestra je voznica avtobusa.
                </div>
                <div class="msg jenny translation">
                    My sister is <input class="textarea" style="width:10%" type="text" onchange="solution(this, 'a')"> bus driver. 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"> </div>
</div>
{% endblock %}