{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg jenny">
                    Ko govorimo, kaj je kdo po poklicu, uporabimo nedoločni člen.
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="col-lg-3 full"> </div>
    <div class="col-lg-3">
        <div class="row inst space">
            <div class="msg jenny">
                He is <pr class="orange">a</pr> doctor.
            </div>
            <div class="msg jenny">
                She is <pr class="orange">an</pr> engineer.
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row inst space">
            <div class="msg jenny translation">
                Zdravnik je.
            </div>
            <div class="msg jenny translation">
                Inženirka je.
            </div>
        </div>
    </div>
    <div class="col-lg-3"> </div>
</div>
{% endblock %}