{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/day_week_month/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div id="conversation">
            <div class="row inst space">
                <div class="msg jenny">Let's learn the days of the week.</div>
                <div class="msg jenny translation">Naučiva se dneve v tednu.</div>
            </div>
            <div class="row inst space">
                <div class="msg jenny">
                    Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday.
                </div>
                <div class="msg jenny translation">
                    Ponedeljek, torek, sreda, četrtek, petek, sobota, nedelja.
                </div>
            </div>
            <div class="row inst space">
                <div class="msg jenny">
                    In English the days are capitalised.
                </div>
                <div class="msg jenny translation">
                    V angleščini pišemo dneve z veliko začetnico.
                </div>
            </div>
            <div class="row inst space">
                <div class="msg jenny">
                    Be careful not to mix up Tuesday and Thursday <br>
                    or Saturday and Sunday because they start with the same letter. <br>
                    Do you want to know how I remember the difference between them?
                </div>
                <div class="msg jenny translation">
                    Pazi, da ne zamešaš torka in četrtka ali sobote <br>
                    in nedelje, ker se v angleščini začnejo z isto črko.<br>
                    Te zanima, kako si jaz zapomnim razliko med njimi?
                </div>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>

{% endblock %}