.number {
    font-size: 2.2em;
    color: #3097C3;
}

.question {
    margin: 0;
    width: 100%;
}

.qest {
    display: flex;
    justify-content: center;
}

input {
    width: 20%;
}

.listen {
    background: transparent;
    border: none;
    border-radius: 50px 50px 50px 50px;
    height: 10%;
    width: 10%;
    transform: translateY(-100%);
    float: right;
}

.listen:hover {
    border: dotted 3px black;
}