{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
    <script src="{% static 'js/enable_button.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6 main">
                <div class="row" style=" height: 18%">
                    <div class="msg jenny" style="background-color: #446a85">
                        1.2 We will practice prepositions (predlogi) by using the following objects: glasses, keys, a wallet, a box, a bag and a table.
                    </div>
                    <div class="msg jenny translation">
                        Predloge bova vadila z uporabo naslednjih predmetov: očala, ključi, denarnica, škatla, torba in miza.
                    </div>
                </div>
                <div class="row" style="margin-top: 150px">
                    <div class="col-lg-2">
                        <img src="{% static "svg/lesson3/prepositions/glasses.svg" %}">
                    </div>
                    <div class="col-lg-4 ">
                        <div class="msg jenny text-center" style="background-color: #446a85">
                            Glasses
                        </div>
                        <div class="msg jenny translation text-center">
                            Očala
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img src="{% static "svg/lesson3/prepositions/key.svg" %}">
                    </div>
                    <div class="col-lg-4 ">
                        <div class="msg jenny text-center" style="background-color: #446a85">
                            Keys
                        </div>
                        <div class="msg jenny translation text-center">
                            Ključi
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px">
                    <div class="col-lg-2">
                        <img src="{% static "svg/lesson3/prepositions/wallet.svg" %}">
                    </div>
                    <div class="col-lg-4 ">
                        <div class="msg jenny text-center" style="background-color: #446a85">
                            A wallet
                        </div>
                        <div class="msg jenny translation text-center">
                            Denarnica
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img src="{% static "svg/lesson3/prepositions/box.svg" %}">
                    </div>
                    <div class="col-lg-4 ">
                        <div class="msg jenny text-center" style="background-color: #446a85">
                            A box
                        </div>
                        <div class="msg jenny translation text-center">
                            Škatla
                        </div>
                    </div>
                </div>
                 <div class="row" style="margin-top: 50px">
                    <div class="col-lg-2">
                        <img src="{% static "svg/lesson3/prepositions/bag.svg" %}">
                    </div>
                    <div class="col-lg-4 ">
                        <div class="msg jenny text-center" style="background-color: #446a85">
                            A bag
                        </div>
                        <div class="msg jenny translation text-center">
                            Torba
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img src="{% static "svg/lesson3/prepositions/table.svg" %}">
                    </div>
                    <div class="col-lg-4 ">
                        <div class="msg jenny text-center" style="background-color: #446a85">
                            A table
                        </div>
                        <div class="msg jenny translation text-center">
                            miza
                        </div>
                    </div>
                </div>
            </div>
            {% include "character.html" %}
        </div>
    </div>
{% endblock %}
