{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="conversation">
            <div class="row inst nospace">
                <div class="msg user">U: Alright. See you tomorrow.</div>
                <div class="msg user slo ">Vredu. Se vidiva jutri.</div>
            </div>
            <div class="row inst space">
                <div class="msg jenny">Goodbye.</div>
                <div class="msg jenny translation">Adijo.</div>
            </div>
            <div class="row inst nospace">
                <div class="msg user">U: Goodbye.</div>
                <div class="msg user slo ">Adijo.</div>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>

{% endblock %}