{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link href="{% static 'css/introduction/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/exercises/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson3/recolour_common.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson3/pronouns/page_six.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/lesson3/pronouns/page_seven.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="container">
        <div class="col-lg-3">
            <img id="jenny" src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg">
        </div>
        <div class="col-lg-6 main">
            <div class="row inst space">
                <div class="msg user">2. Choose the correct personal pronoun.</div>
                <div class="msg user slo">Izberi pravilen osebni zaimek.</div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="container main-working" style="height: 90%;">
        <div class="msg jenny translation">
            James is an honest person, which is why people like <input id= "S1" class="textarea correct"/>.
            Caroline is a liar. Fred does not trust <input class=textarea onchange="solution(this,1)" style="border-color:#6282B7;background-color: transparent;width:30%"/>.
            Hillary is married to Fred. <input class=textarea onchange="solution(this,2)" style="border-color:#6282B7;background-color: transparent;width:30%"/>.
            <input class=textarea onchange="solution(this,3)" style="border-color:#6282B7;background-color: transparent;width:30%"/> loves <input class=textarea onchange="solution(this,4)" style="border-color:#6282B7;background-color: transparent;width:30%"/>.
            Gina is a teacher. <input class=textarea onchange="solution(this,5)" style="border-color:#6282B7;background-color: transparent;width:30%"/> teaches history.
            We had a party and the cops came. <input class=textarea onchange="solution(this,6)" style="border-color:#6282B7;background-color: transparent;width:30%"/> told <input class=textarea onchange="solution(this,7)" style="border-color:#6282B7;background-color: transparent;width:30%"/> to turn down the music.
            Phil plays hockey. <input class=textarea onchange="solution(this,8)" style="border-color:#6282B7;background-color: transparent;width:30%"/> plays every week.
            Mom and dad are on a trip to France. <input class=textarea onchange="solution(this,9)" style="border-color:#6282B7;background-color: transparent;width:30%"/> are coming home tomorrow. I will see <input class=textarea onchange="solution(this,10)" style="border-color:#6282B7;background-color: transparent;width:30%"/> soon.
            My friends and I like to go shopping but <input class=textarea onchange="solution(this,11)" style="border-color:#6282B7;background-color: transparent;width:30%"/> never actually buy anything.
            I work every day. My boss never gives <input class=textarea onchange="solution(this,12)" style="border-color:#6282B7;background-color: transparent;width:30%"/> a day off.
            Hey, Peter! How are <input class=textarea onchange="solution(this,13)" style="border-color:#6282B7;background-color: transparent;width:30%"/>?
        </div>
    </div>
</div>
{% endblock %}