{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row inst nospace" style="height: 18%">
            <div class="msg user wide">Possessive pronouns - Svojilni zaimki</div>
        </div>
        <div id="conversation">
            <div class="row inst space">
                <div class="msg jenny wide"> In English, you can say that you own something in two different ways:</div>
            </div>
            <div class="row inst space">
                <div class="msg user wide">This is <b>my</b> book.</div>
                <div class="msg user slo wide">To je moja knjiga.</div>
            </div>
            <div class="row inst space">
                <div class="msg user wide">This book is <b>mine</b>.</div>
                <div class="msg user slo wide">Ta knjiga je moja.</div>
            </div>
            <div class="row inst nospace">
                <div class="msg jenny wide">These are possessive pronouns.</div>
                <div class="msg jenny translation wide">To so svojilni zaimki.</div>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}