{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
    <script src="{% static 'js/enable_button.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6 main">
                <div class="row" style=" height: 18%">
                    <div class="msg jenny" style="background-color: #446a85">
                        Now fill in the missing words.
                    </div>
                    <div class="msg jenny translation">
                        Zdaj vstavi manjkajoče besede. 
                    </div>
                </div>
            </div>
            {% include "character.html" %}
        </div>
        <div style="margin-top: 25px">
            <div class="col-lg-6" style="margin-top: 25px">
                <div class="col-lg-9 msg jenny" style="background-color: #446a85">
                    The keys are <input type="text" style="border-bottom: white dashed 1px" onchange="check_answer(this, this.value,'between')"> the bag and the glasses.
                </div>
                <div class="col-lg-3">
                    <img src="{% static "svg/lesson3/prepositions/bag_key_glasses.svg" %}">
                </div>
            </div>
            <div class="col-lg-7" style="margin-top: 25px">
                <div class="col-lg-9 msg jenny" style="background-color: #446a85">
                    The glasses are <input type="text" style="border-bottom: white dashed 1px" onchange="check_answer(this, this.value,'in')"> the box.
                </div>
                <div class="col-lg-3">
                    <img src="{% static "svg/lesson3/prepositions/bag_table.svg" %}">
                </div>
            </div>
            <div class="col-lg-7" style="margin-top: 25px">
                <div class="col-lg-9 msg jenny" style="background-color: #446a85">
                    The box is <input type="text" style="border-bottom: white dashed 1px" onchange="check_answer(this, this.value,'on')"> the table.
                </div>
                <div class="col-lg-3">
                    <img src="{% static "svg/lesson3/prepositions/box_on_table.svg" %}">
                </div>
            </div>
        </div>
    <script>
        function check_answer(source, answer, correct_answer) {
            if(answer === correct_answer.toLowerCase().trim()){
                source.setAttribute("style","border-bottom: white dashed 1px; color: green; font-weight: bolder")
            }else{
                source.setAttribute("style","border-bottom: white dashed 1px; color: red; font-weight: bolder")
            }
        }
    </script>
    </div>
{% endblock content %}