{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="conversation">
            <div class="row inst space">
                <div class="msg jenny">Would you like to go to English Town with me tomorrow? My friend Jim lives
                    there. We plan to have lunch together and later he can show us around town.
                    Do you have time?
                </div>
                <div class="msg jenny translation">Bi šel jutri z mano v English Town? / Bi šla jutri z mano v English
                    Town?
                    Moj prijatelj Jim tam živi. Nameravava na kosilo, kasneje pa nama lahko
                    razkaže mesto. Imaš čas?
                </div>
            </div>
            <div class="row inst nospace">
                <div class="msg user">U: I’d love to go.</div>
                {% if user.sex == 'M' %}
                    <div class="msg user slo">Z veseljem bi šel.</div>
                {% else %}
                     <div class="msg msg slo">Z veseljem bi šla.</div>
                {% endif %}
            </div>
            <div class="row inst space">
                <div class="msg jenny">Great! Let’s meet up at nine a.m. at the railway station in English Town. See
                    you tomorrow.
                </div>
                <div class="msg jenny translation">Super! Dobiva se ob devetih na železniški postaji v English Townu. Se
                    vidiva jutri.
                </div>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}