{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/lesson3/pronouns/page_one.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6 main">
                <div class="row" style=" height: 18%">
                    <div class="msg jenny" style="background-color: #446a85">
                        Read the sentences and repeat after me.
                    </div>
                    <div class="msg jenny translation">
                        Preberi povedi in ponovi za menoj.
                    </div>
                </div>
                <div class="row" style="margin-top: 50px">
                    <div class="msg jenny" style="background-color: #446a85">
                        On: The glasses are <p style="font-weight: bolder; color: orange">on</p> the table.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 42%;">
                    </div>
                    <div class="msg jenny translation">
                        Očala so na mizi.
                    </div>
                </div>
                <div class="row" style="">
                    <div class="msg jenny" style="background-color: #446a85">
                        In: The glasses are <p style="font-weight: bolder; color: orange">in</p> the bag.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 47%;">
                    </div>

                    <div class="msg jenny translation">
                        Očala so v torbi.
                    </div>
                </div>
                <div class="row" style="">
                    <div class="msg jenny" style="background-color: #446a85">
                        Under: The wallet are <p style="font-weight: bolder; color: orange">under</p> the table.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 35%;">
                    </div>
                    <div class="msg jenny translation">
                        Denarnica je pod mizo.
                    </div>
                </div>
                <div class="row" style="">
                    <div class="msg jenny" style="background-color: #446a85">
                        Next: The keys are <p style="font-weight: bolder; color: orange">next</p> to the bag.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 40%;">
                    </div>
                    <div class="msg jenny translation">
                        Ključi so zraven torbe.
                    </div>
                </div>
                <div class="row" style="">
                    <div class="msg jenny" style="background-color: #446a85">
                        Between: The keys are <p style="font-weight: bolder; color: orange">between</p> the wallet and the glasses.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 5%;">
                    </div>
                    <div class="msg jenny translation">
                        Ključi so med denarnico in očali.
                    </div>
                </div>
                <div class="row" style="">
                    <div class="msg jenny" style="background-color: #446a85">
                        Near: The bag <p style="font-weight: bolder; color: orange">near</p> the table.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 47%;">
                    </div>
                    <div class="msg jenny translation">
                        Torba je blizu mize.
                    </div>
                </div>
                <div class="row" style="">
                    <div class="msg jenny" style="background-color: #446a85">
                        Opposite: The keys are <p style="font-weight: bolder; color: orange">opposite</p> the glasses.
                        <img src="{% static "svg/common/listen_off.svg" %}" style="height: 30px; margin-left: 25%;">
                    </div>
                    <div class="msg jenny translation">
                        Ključi so nasproti očalom.
                    </div>
                </div>
            </div>
            {% include "character.html" %}
        </div>
    </div>
{% endblock content %}