{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
    <script src="{% static 'js/enable_button.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6 main">
                <div class="row" style=" height: 18%">
                    <div class="msg jenny" style="background-color: #446a85">
                        Read the sentences and repeat after me.
                    </div>
                    <div class="msg jenny translation">
                        Preberi povedi in ponovi za menoj.
                    </div>
                </div>
                <div class="row" style="margin-top: 100px">
                    <div class="col-lg-12">
                        <div class="msg jenny" style="background-color: #446a85">
                            Under: The wallet is <p style="font-weight: bolder; color: orange">under</p> the table.
                        </div>
                        <div class="msg jenny translation">
                            Denarnica je pod mizo.
                        </div>
                    </div>
                    <img src="{% static "svg/lesson3/prepositions/wallet_under_table.svg" %}" style="height: 100px; margin-left: 50px; margin-top: 20px">
                </div>
                <div class="row" style="margin-top: 200px">
                    <div class="col-lg-12">
                        <div class="msg jenny" style="background-color: #446a85">
                            Next to: The keys are <p style="font-weight: bolder; color: orange">next</p> to the bag.
                        </div>
                        <div class="msg jenny translation">
                            Ključi so zraven torbe.
                        </div>
                    </div>
                    <img src="{% static "svg/lesson3/prepositions/bag_key.svg" %}" style="height: 100px; margin-left: 50px; margin-top: 20px">
                </div>
            </div>
            {% include "character.html" %}
        </div>
    </div>
{% endblock content %}