{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/lesson3/pronouns/page_one.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="col-lg-3">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6 main">
                <div class="row inst space" style=" height: 18%">
                    <div class="msg jenny full-width" style="background-color: #446a85">
                        1.2 We will practice prepositions (predlogi) by using the following objects: glasses, keys, a wallet, a box, a bag and a table.
                    </div>
                    <div class="msg jenny translation">
                        Predloge bova vadila z uporabo naslednjih predmetov: očala, ključi, denarnica, škatla, torba in miza.
                    </div>
                </div>
                <div class=" inst space">
                    <div class="flex" style="justify-content: space-around; flex-direction: row;">
                        <div class="col-lg-6">
                            <img type="svg" src="{% static 'svg/lesson3/prepositions/glasses.svg' %}" style="height: 50px;">
                        </div>
                        <div class=" row inst space col-lg-6">
                            <div class="msg jenny" style="background-color: #446a85">
                                Glasses
                            </div>
                            <div class="msg jenny translation">
                                Očala
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "character.html" %}
        </div>
    </div>
{% endblock %}
