{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/pronouns/page_six.css' %}"/>
<script type="text/javascript" src="{% static 'js/lesson3/pronouns/page_six.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="container">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6 main">
            <div class="row inst space">
                <div class="msg user">2. Choose the correct personal pronoun.</div>
                <div class="msg user slo">Izberi pravilen osebni zaimek.</div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="container main" style="height: 90%;">
        <div class="msg jenny translation">Jane is a teacher.
            <button class="selection" onclick="check(this, true)">She</button>
            /
            <button class="selection" onclick="check(this, false)">Her</button>
            teaches chemistry.
            The students like
            <button class="selection" onclick="check(this, false)">she</button>
            /
            <button class="selection" onclick="check(this, true)">her</button>
            . <br>
            Megan and Fiona are best friends.
            <button class="selection" onclick="check(this, false)">Them</button>
            /
            <button class="selection" onclick="check(this, true)">They</button>
            are always together. You can’t see
            <button class="selection" onclick="check(this, true)">them</button>
            /
            <button class="selection" onclick="check(this, false)">they</button>
            apart. <br>
            <button class="selection" onclick="check(this, true)">I</button>
            /
            <button class="selection" onclick="check(this, false)">me</button>
            believe in ghosts. They visit
            <button class="selection" onclick="check(this, false)">I</button>
            /
            <button class="selection" onclick="check(this, true)">me</button>
            at night.
            Did you hear about what happened to Peter?
            <button class="selection" onclick="check(this, true)">He</button>
            /
            <button class="selection" onclick="check(this, false)">him</button>
            had an accident. Let’s visit
            <button class="selection" onclick="check(this, false)">he</button>
            /
            <button class="selection" onclick="check(this, true)">him</button>
            in
            the hospital. <br>
            My friends and I often play after school.
            <button class="selection" onclick="check(this, true)">We</button>
            /
            <button class="selection" onclick="check(this, false)">us</button>
            play basketball. Sometimes the girls from
            our class come and watch
            <button class="selection" onclick="check(this, false)">we</button>
            /
            <button class="selection" onclick="check(this, true)">us</button>
            . <br>
        </div>
    </div>
</div>
{% endblock %}