.titleB {
    background: #446A85 !important;
}

.titleB:hover {
    background: #446A85 !important;
}

.lesson {
    background: #446A85 !important;
}

.shadow {
    background: #dce6e0 !important;
}

.lesson: hover {
    background: #446A85 !important;
}

.user {
    background: #446A85;
}

.wide {
    width: 100% !important;
}
