{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<style>
    .msg {
            font-size: 1.2em !important;
        }
</style>
{% endblock %}
{% block content %}
<div class="col-lg-4" id="jenny-full">
    <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" style="height:90%">
</div>
<div class="col-lg-8">
    <div class="container-fluid messages">
        <div class="row">
            <div class="msg jenny">J: Predstaviš se lahko na dva načina. <br>
                Do zdaj sva se predstavila z uporabo oblike <b>Moje ime je</b>.
                Po angleško je ta oblika <b>My name is</b>. <br> Lahko pa rečemo preprosto <b>Jaz sem</b>.
            </div> <input type="image" src="{% static 'svg/common/listen_off.svg' %}" class="listen">
        </div>
        <div class="row">
            <div class="msg jenny">J: Hello. <b>I am </b>Jenny.</div> <input type="image" src="{% static 'svg/common/listen_off.svg' %}" class="listen">
            <div class="msg jenny translation">Živjo. Jaz sem Jenny.</div>
        </div>
        <div class="row">
            <div class="msg jenny">J: Po obliki <b>My name is</b> se vprašamo tako: <br> <b>What is your name?</b>
                <br> To pomeni: Kako je tebi ime?
                Po obliki <b>I am</b> se vprašamo tako: <br> <b>Who are you?</b> To pomeni: Kdo si ti.?
            </div> <input type="image" src="{% static 'svg/common/listen_off.svg' %}" class="listen">
        </div>
        <div class="row">
            <div class="msg jenny">J: Besedo <b>jaz</b> vedno napišemo z
                <b>veliko začetnico</b>, ne glede na mesto
                v povedi. Poglej si primere.
            </div> <input type="image" src="{% static 'svg/common/listen_off.svg' %}" class="listen">
        </div>
        <div class="row">
            <div class="msg jenny">J: <b>I</b> am Jenny.</div> <input type="image" src="{% static 'svg/common/listen_off.svg' %}" class="listen">
            <div class="msg jenny translation">Jaz sem Jenny.</div>
        </div>
        <div class="row">
            <div class="msg jenny">J: {{user.first_name}} and <b>I</b> are friends.</div>
            <div class="msg jenny translation">{{user.first_name}} in jaz sva prijatelja.</div>
        </div>
    </div>
</div>
{% endblock %}