{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/introduction/page_one.js' %}"></script>
<script type="text/javascript" src="{% static 'js/introduction/page_two.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-4" id="jenny-full">
    <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" style="height:90%">
</div>
<div class="col-lg-8">
    <div class="container-fluid messages">
        <div class="row">
            <div class="msg jenny">Jenny is just my nickname. <br> My real name is Jennifer.</div>
            <input type="image" onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng2">
            <audio id="a3" src="{% static 'audio/lesson1_jenny/introduction/3.mp3' %}"></audio><div class="msg jenny translation">Jenny je le moj vzdevek. Moje pravo ime je Jennifer.</div>
        </div>
        <div class="row">
            <div class="msg jenny">
                Do you have a nickname? 
                <button class="btn" onclick="show_nickname(event)">Yes</button>
                /
                <button class="btn" onclick="show_nickname(event)">No</button> <br>
                (Click yes or no.)
            </div> 
            <input type="image" onclick="play('a4')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng2">
            <audio id="a4" src="{% static 'audio/lesson1_jenny/introduction/4.mp3' %}"></audio>
            <div class="msg jenny translation">
                Imaš ti vzdevek? Ja/Ne. <br>
                (Klikni yes ali no.)
            </div>
        </div>
        <div style="display: none" id="nickname_input">
            <div class="row">
                <div class="msg jenny">What is your nickname?</div>
                <input type="image" onclick="play('a5')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng2">
                <audio id="a5" src="{% static 'audio/lesson1_jenny/introduction/5.mp3' %}"></audio>
                <div class="msg jenny translation">Kakšen je tvoj vzdevek?</div>
            </div>
            <div class="row">
                <div class="msg user instruction spoken"><p style="font-weight: bold;margin:0">Navodilo:</p> <br> Vstavi svoj vzdevek (nickname).</div>
                <div class="msg user">My nickname is <input type="text" id="name_input">.</div>
                <div class="msg user slo">Moj vzdevek je <p class="slo_name">_____</p>.</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}