{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/introduction/glossary.js' %}"></script>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-4" id="jenny-full">
    <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" style="height:90%">
</div>
<div class="col-lg-8">
    <div class="container-fluid messages">
        <div class="row">
            <div class="msg jenny">Predstaviš se lahko na dva načina. <br>
                Do zdaj sva se predstavila z uporabo oblike <p style="color:#D55225;font-weight: bold;margin:0">Moje ime je</p>. <br>
                Po angleško je ta oblika <p style="color:#D55225;font-weight: bold;margin:0">My name is</p>. <br> Lahko pa rečemo preprosto <p style="color:#D55225;font-weight: bold;margin:0">Jaz sem</p>.
            </div>
        </div>
        <div class="row">
            <div class="msg jenny">Hello. <p style="color:#D55225;font-weight: bold;margin:0">I am </p>Jenny.</div> 
            <div class="msg jenny translation">Živjo. Jaz sem Jenny.</div>
        </div>
        <div class="row">
            <div class="msg jenny">Po obliki <p style="color:#D55225;font-weight: bold;margin:0">My name is</p> se vprašamo tako: <br> 
                <p style="color:#D55225;font-weight: bold;margin:0">What is your name?</p> To pomeni: Kako je tebi ime? <br>
                Po obliki <p style="color:#D55225;font-weight: bold;margin:0">I am</p> se vprašamo tako: <br> <p style="color:#D55225;font-weight: bold;margin:0">Who are you?</p> To pomeni: Kdo si ti.?
            </div> 
        </div>
    </div>
</div>
{% endblock %}