{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/introduction/glossary.js' %}"></script>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-lg-4" id="jenny-full">
    <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" style="height:90%">
</div>
<div class="col-lg-8">
    <div class="container-fluid messages">
        <div class="row">
            <div class="msg jenny">Besedo <p style="color:#D55225;font-weight: bold;margin:0">jaz</p> vedno napišemo z
                <p style="color:#D55225;font-weight: bold;margin:0">veliko začetnico</p>, ne glede na mesto
                v povedi. Poglej si primere.
            </div> 
        </div>
        <div class="row">
            <div class="msg jenny"><p style="color:#D55225;font-weight: bold;margin:0">I</p> am Jenny.</div> 
            <div class="msg jenny translation">Jaz sem Jenny.</div>
        </div>
        <div class="row">
            <div class="msg jenny">{{user.first_name}} and <p style="color:#D55225;font-weight: bold;margin:0">I</p> are friends.</div> 
            <div class="msg jenny translation">{{user.first_name}} in jaz sva prijatelja.</div>
        </div>
    </div>
</div>
{% endblock %}