{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/introduction/page_one.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="col-lg-4" id="jenny-full">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" style="height:90%">
    </div>
    <div class="col-lg-8">
        <div class="container-fluid messages">
            <div class="row">
                <div class="msg jenny spoken">Hello. My name is Jenny. Nice to meet you.</div>
                <div class="msg jenny translation">Živjo. Moje ime je Jenny. Me veseli.</div>
            </div>
            <div class="row">
                <div class="msg jenny">Jenny: What is your name?</div>
                <div class="msg jenny translation">Kaj je tvoje ime?</div>
            </div>
            <div class="row">
                <div class="msg user instruction spoken"><b>Navodilo:</b> <br> Vpiši svoje ime (name).</div>
                <div class="msg user">My name is <input type="text" id="name_input">. Nice to meet you, too.</div>
                <div class="msg user slo">Moje ime je <p class="slo_name">_____</p>. Tudi mene veseli.</div>
            </div>
        </div>
    </div>
{% endblock %}