{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/introduction/page_three.js' %}"></script>
    <style>
        .msg {
                font-size: 10px !important;
            }
    </style>
{% endblock %}
{% block content %}
    <div class="col-lg-4" id="jenny-full">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" height="90%">
    </div>
    <div class="col-lg-8">
        <div class="container-fluid messages">
            <div class="row">
                <div class="msg jenny spoken">J: I am 50 years old. How old are you?</div>
                {% if user.sex == 'M' %}
                    <div class="msg jenny translation">Stara sem 50 let. Koliko si ti star?</div>
                {% else %}
                    <div class="msg jenny translation">Stara sem 50 let. Koliko si ti stara?</div>
                {% endif %}

            </div>
            <div class="row">
                <div class="msg user instruction spoken"><b>Navodilo:</b> <br> Vpiši svojo starost (age).</div>
                <div class="msg user">I am <input type="text" id="age_input"> years old.</div>
                <div class="msg user slo">Star/a sem <p id="slo_age">_____</p> let.</div>
            </div>
            <div class="row">
                <div class="msg jenny">J: I was born in England. Now i live in Slovenia.</div>
                <div class="msg jenny translation">Rojena sem bil v Angliji. Zdaj živim v Sloveniji.</div>
            </div>
            <div class="row">
                <div class="msg jenny spoken">Where were you born?</div>
                {% if user.sex == 'M' %}
                    <div class="msg jenny translation">Kje si bil/a ti rojen?</div>
                {% else %}
                    <div class="msg jenny translation">Kje si bil/a ti rojena?</div>
                {% endif %}
            </div>
            <div class="row">
                {% if user.sex == 'M' %}
                    <div class="msg user instruction spoken"><b>Navodilo:</b> <br> Vpiši državo, v kateri si bil rojen.</div>
                {% else %}
                    <div class="msg user instruction spoken"><b>Navodilo:</b> <br> Vpiši državo, v kateri si bila rojena.</div>
                {% endif %}
                <div class="msg user">I was born in <input type="text" id="birth_place_input">.</div>
                {% if user.sex == 'M' %}
                    <div class="msg user slo">Rojen sem bil v <p id="slo_birth_place">_____</p>.</div>
                {% else %}
                    <div class="msg user slo">Rojena sem bila v <p id="slo_birth_place">_____</p>.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}