{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/introduction/page_three.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/introduction/glossary.js' %}"></script>
    <style>
        .msg {
                font-size: 1em !important;
            }
    </style>
{% endblock %}
{% block content %}
    <div class="col-lg-4" id="jenny-full">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" style="height:90%">
    </div>
    <div class="col-lg-8">
        <div class="container-fluid messages">
            <div class="row">
                <div class="msg jenny spoken">I am 50 years old. How old are you?</div> 
                <input type="image" onclick="play('a6')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng2">
                <audio id="a6" src="{% static 'audio/lesson1_jenny/introduction/6.mp3' %}"></audio>
                {% if user.sex == 'M' %}
                    <div class="msg jenny translation">Stara sem 50 let. Koliko si ti star?</div>
                {% else %}
                    <div class="msg jenny translation">Stara sem 50 let. Koliko si ti stara?</div>
                {% endif %}

            </div>
            <div class="row">
                <div class="msg user instruction spoken"><p style="font-weight: bold;margin:0">Navodilo:</p> <br> Vpiši svojo starost (age).</div>
                <div class="msg user">I am <input type="text" id="age_input"> years old.</div>
                {% if user.sex == 'M' %}
                    <div class="msg user slo">Star sem <p id="slo_age">_____</p> let.</div>
                {% else %}
                    <div class="msg user slo">Stara sem <p id="slo_age">_____</p> let.</div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}