{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson3/recolour_common.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/articles/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <button class="titleB" style="border-radius: 50px;" disabled>Modal Verbs</button>
        </div>
        {% include "character.html" %}
    </div>
    <div class="col-lg-1 full"></div>
    <div class="col-lg-10">
         <div class="row inst space">
                <div class="msg jenny full-width">Modal verbs are a special group of verbs that we use to express the following: ability, obligation, permission, possibility, requests and advice. Modal verbs: can, may, might, must, have to, should.</div>
                <div class="msg jenny translation">Modalni glagoli so posebna skupina glagolov, ki se uporabljajo, da izrazimo naslednje: sposobnost, dolžnost, dovoljenje, možnost, zahteve in nasvete. Modalni glagoli: can, may, might, must, have to, should</div>
         </div>
        <div id="conversation">
            <div class="row inst space">
                <div class="msg user jenny" style="width: 60%; margin-right: 20%;">
                    Ability - zmožnost, sposobnost
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row inst space">
                <div class="msg jenny user" style="width: 100%">I can swim.</div>
                <div class="msg jenny translation" style="width: 100%">Znam plavati.</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row inst space">
                <div class="msg jenny user" style="width: 100% !important">I can’t dance.</div>
                <div class="msg jenny translation" style="width: 100%"> Ne znam plesati.</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row inst space">
                <div class="msg jenny user" style="width: 100%">I can’t hear you.</div>
                <div class="msg jenny translation" style="width: 100%">Ne slišim te. </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 full"> </div>
    <div class="col-lg-3 full"> </div>
    <div class="col-lg-3"> </div>
</div>
{% endblock %}