{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link href="{% static 'css/introduction/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson2/articles/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson2/common.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson2/daily_routines/page_four.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/lesson2/daily_routines/page_four.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img id="jenny" src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg user full-width" style="text-align: center; width: 100%; padding-left: 2%;">
                    2. Drag and drop the verbs into the text.
                </div>
                <div class="msg translation full-width" style="text-align: center;">
                    Prenesi in odloži glagole v besedilo.
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3" style="margin-top: 4%;">
            <div class="msg user full-width line">I <div class="drop" id="match01" ondragover="allowDrop(event)"
                                                          ondrop="drop(event, this, 1)"> </div> at seven o’clock.</div>
            <div class="msg user full-width line">I
                <div class="drop" id="match02" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                my teeth.
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match03" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                my hair.
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match04" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                dressed.
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match05" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                breakfast.
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match06" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                the newspaper.
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match07" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                to work.
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match08" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                .
            </div>

            <div class="msg user full-width line">I
                <div class="drop" id="match09" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div>
                a snack.
            </div>
        </div>
        <div class="col-lg-3" style="margin-top: 4%;">
            <div class="msg user full-width line">I <div class="drop" id="match010" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> home at half past four.</div>

            <div class="msg user full-width line">I <div class="drop" id="match011" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> lunch.</div>

            <div class="msg user full-width line">I <div class="drop" id="match012" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> lunch.</div>

            <div class="msg user full-width line">I <div class="drop" id="match013" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> the dishes.</div>

            <div class="msg user full-width line">I <div class="drop" id="match014" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> a shower.</div>

            <div class="msg user full-width line">I <div class="drop" id="match015" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> TV.</div>

            <div class="msg user full-width line">I <div class="drop" id="match016" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> a book.</div>

            <div class="msg user full-width line">I <div class="drop" id="match017" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> dinner.</div>

            <div class="msg user full-width line">I <div class="drop" id="match018" ondragover="allowDrop(event)" ondrop="drop(event, this, 1)">
                </div> to bed at eleven o'clock.</div>
        </div>
        <div class="col-lg-2">
            <div class="items" id="drag-origin">
                <p class="draggable-word" draggable="true" id="match1" onclick="toOrigin1(this)"
                    ondragstart="drag(event)"> get up</p>
                <p class="draggable-word" draggable="true" id="match2" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> brush</p>
                <p class="draggable-word" draggable="true" id="match3" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> comb</p>
                <p class="draggable-word" draggable="true" id="match4" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> get</p>
                <p class="draggable-word" draggable="true" id="match5" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> have</p>
                <p class="draggable-word" draggable="true" id="match6" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> read</p>
                <p class="draggable-word" draggable="true" id="match7" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> go</p>
                <p class="draggable-word" draggable="true" id="match8" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> work</p>
                <p class="draggable-word" draggable="true" id="match9" onclick="toOrigin1(this)"
                      ondragstart="drag(event)"> eat</p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="items" id="drag-origin2">
                <p class="draggable-word" draggable="true" id="match10" onclick="toOrigin2(this)"
                    ondragstart="drag(event)"> arrive</p>
                <p class="draggable-word" draggable="true" id="match11" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> make</p>
                <p class="draggable-word" draggable="true" id="match12" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> have</p>
                <p class="draggable-word" draggable="true" id="match13" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> do</p>
                <p class="draggable-word" draggable="true" id="match14" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> take</p>
                <p class="draggable-word" draggable="true" id="match15" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> watch</p>
                <p class="draggable-word" draggable="true" id="match16" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> read</p>
                <p class="draggable-word" draggable="true" id="match17" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> have</p>
                <p class="draggable-word" draggable="true" id="match18" onclick="toOrigin2(this)"
                      ondragstart="drag(event)"> go</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}