{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link href="{% static 'css/introduction/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson2/articles/page_one.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson2/common.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/lesson2/daily_routines/page_one.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/lesson2/daily_routines/page_one.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img id="jenny" src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg user full-width" style="text-align: center; font-size: 18px; padding-left: 0">
                    Jenny’s daily (week day) routine.
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align: center">
            <div class="main-working" id="list-one">
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">get up</span> at seven o’clock.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/sun.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">brush</span> my teeth.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/brush.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">comb</span> my hair.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/hairbrush.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">get</span> dressed.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/shirt.svg' %}"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="main-working" hidden id="list-two">
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">have</span> breakfast.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/meal.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">read</span> the newspaper.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/newspaper.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">go</span> to work.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/car.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">work</span>.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/papers.svg' %}"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="main-working" hidden id="list-three">
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">eat</span> a snack.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/apple.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">arrive</span> home at half past four.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/car.svg' %}"
                            type="image/svg+xml" style="transform:scaleX(-1);"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">make</span> lunch.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/pot.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">have</span> lunch.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/meal.svg' %}"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="main-working" hidden id="list-four">
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">do</span> the dishes.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/dishes.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">take</span> a shower.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/shower.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">watch</span> TV.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/tv.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">read</span> a book.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/book.svg' %}"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <div class="main-working" hidden id="list-five">
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">have</span> dinner.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/meal.svg' %}"
                            type="image/svg+xml"></object>
                </div>
                <div class="flex">
                    <p class="msg user full-width line">I <span class="color">go</span> to bed at eleven o'clock.</p>
                    <object class="img-visual" data="{% static 'svg/lesson2/daily_routines/night.svg' %}"
                            type="image/svg+xml"></object>
                </div>
            </div>
            <button class="next" id="next-list" onclick="changelist()" type="button">Next</button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}