.drop {
    display: block;
    margin: 0;
    margin-bottom: 0;
    border-radius: 25px;
    background-color: #e4e3e8;
    padding: 2vh;
    font-size: 2vh;
    color: #3097C3;
}
  
.draggable-word {
    float: left;
    font-size: 2vh;
    padding: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 3%;
    border-radius: 25%/50%;
    background-color: #3097C3;
    color: #ffffff;
}

.correct {
    background-color: #00A881;
}

.incorrect {
    background-color: #F15D2A;
}

.drops {
    height: 10vh;
    margin-top: 10vh !important;
}

.items {
    margin-top: 10vh !important;
}

#redo_b {
    border: none;
    width: 10%;
    float: right;
    height: 10%;
    transform: translate(-50%, 25%);
    border-radius: 50%
}


#redo_b:hover {
    border: 3px black dotted;
}

input {
   background-color: transparent;
}

.user {
    float: left;
}

.slo {
    margin-left: 0;
}