.col-lg-3 {
    width: 100%;
    background-color: #ffffec;
    overflow: hidden;
}

img {
    height: auto;
}

#jenny {
    width: 80%;
}
#character{
    width: 80%;
}
#avatar {
    width: 90%
}

.row {
    height: 30%;
}

.text {
    padding-left: 2%;
    padding-right: 2%;
}

.centre {
    margin-left: 0;
}

.numbers-button {
    font-size: 4vh;
    margin-top: 6vh;
    border-radius: 4%/25%;
}

.row > .msg {
    width: 100%;
    padding-left: 10%
}

.translation {
    margin: 0;
}

.inst {
    padding-top: 6%;
}

.inst > .slo {
    background-color: #e4e3e8;
}

.items {
  min-height: 10%;
  margin-left: 2% !important;
}

.container {
    width: 100% !important;
    margin-top: 2.5% !important;
}

.column  {
  min-height: 35vh;
}

.left {
  float: left;
}

.right {
  float: right;
}

.help-table {
    width: 90%;
    float: left;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
}  

.tip {
    width: 20% !important;
    margin: 0.5%;
    height: 4vh;
    font-size: 2vh;
}

.c2 {
    width: 67% !important;
    background-color: #00A881;
}

.listen {
    width: 10%;
    margin-left: 75%;
    position: absolute;
    margin-top: 5%;
    z-index: 2;
    display:none;
}

