.numbers-button {
    font-size: 2vh;
    margin-top: 6vh;
    border-radius: 4%/25%;
}
.help-table {
    display: block !important;
    margin-top: 2% !important;
}  

.tip {
    margin: 0.25% !important;;
    height: 2.8vh !important;;
    font-size: 1em !important;;
    padding: 0;
}
