.col-lg-3 {
    width: 100%;
    background-color: #ffffec;
    overflow: hidden;
}

img {
    height: auto;
}

#jenny {
    width: 80%;
}
#character{
    width: 80%;
}
#avatar {
    width: 90%
}

.row {
    height: 30%;
}

.text {
    padding-left: 2%;
    padding-right: 2%;
}

.centre {
    margin-left: 0;
}

.numbers-button, .numbers-button:hover {
    font-size: 2vh;
    margin-top: 6vh;
    border-radius: 4%/25%;
    background-color: #D55225;
}

.row > .msg {
    width: 100%;
    padding-left: 10%
}

.translation {
    margin: 0;
}

.inst {
    padding-top: 6%;
}

.inst > .slo {
    background-color: #e4e3e8;
}

.items {
  min-height: 10%;
  margin-left: 2% !important;
}

.container {
    width: 100% !important;
    margin-top: 2.5% !important;
}

.column  {
  min-height: 35vh;
}

.left {
  float: left;
}

.right {
  float: right;
}

.help-table {
    width: 50%;
    float: left;
    font-weight: normal;
}  

.tip, .tip:hover{
    width: 49% !important;
    margin: 0.5%;
    height: 4vh;
    font-size: 1.6vh;
    background-color: #00A881;
}

.title, .title:hover {
    background-color: #3E83D5;
}


.side {
    height: 25vh !important;
}

.centre {
    margin-left: 8.33333%;
    padding: 0;
}
