.obj1 {
    display: none;
    width: 15%;
}

.objects1 {
    text-align: center;
}

#redo_b {
    border: none;
    width: 10%;
    float: right;
    height: 10%;
    transform: translateY(-40%);
    border-radius: 50%;
}

#redo_b:hover {
    border: 3px black dotted;
}

input {
   background-color: transparent;
}

.correct {
    color: #00A881;
}

.incorrect {
    color: #F15D2A;
}

.space {
    margin-left: 2vw;
    margin-top: 1vh;
}