.cat {
    display: none;
    width: 18%;
}

.cats {
    text-align: center;
    margin-top: 0 !important;
}

#redo_b {
    border: none;
    width: 7%;
    float: right;
    height: 7%;
    transform: translate(-90%, 90%);
    border-radius: 50%;
}

#redo_b:hover {
    border: 3px black dotted;
}

input {
   background-color: transparent;
}

.correct {
    color: #00A881;
}

.incorrect {
    color: #F15D2A;
}
