{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/articles/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="height: 200px">
                <img src="{% static 'svg/common/jim-head.svg' %}" type="svg" id="jenny">
            </div>
            <div class="col-lg-6">
                <div class="msg jenny full-width" style="background-color: #006655">
                    AT THE STORE - <p style="color: #e6a454">VEGETABLES</p>
                </div>
                <div class="msg jenny translation full-width">
                    V trgovini - Zelenjava
                </div>
                <div class="msg jenny full-width" style="background-color: #006655; margin-top: 10px">
                    Drag and drop
                </div>
                <div class="msg jenny translation full-width">
                    Prenesi in odloži
                </div>
            </div>
            {% include "character.html" %}
            <div style="display: inline-flex; flex-direction: row; justify-content: center">
                <div class="col-lg-6" style="display: inline-flex; margin-top: 20px; flex-direction: row; flex-wrap: wrap;">
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/carrot.svg' %} " id="carrot" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/lettuce.svg' %} " id="lettuce" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/bell peper.svg' %} " id="bellpepper" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/eggplant.svg' %} " id="eggplant" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/zucchini.svg' %} " id="zucchini" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/onion.svg' %} " id="onion" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/garlic.svg' %} " id="garlic" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/mushroom.svg' %} "  id="mushroom" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/beans.svg' %} " id="beans" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/beetroot.svg' %} " id="beetroot" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/broccoli.svg' %} " id="broccoli" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/potato.svg' %} " id="potato" style="width: 40px;">
                    </div>
                    <div style="margin: 15px" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="{% static 'svg/lesson3/market/tomato.svg' %} " id="tomato" style="width: 40px;">
                    </div>
                </div>
                <div class="col-lg-2" style="display: flex; flex-direction: column;color: #3E83D5; justify-content: space-between" id="options">
                    <div id="carrot_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true" ondragstart="drag(event)" onclick="return_back(this)">
                        Carrot
                    </div>
                    <div id="lettuce_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Lettuce
                    </div>
                    <div id="bellpepper_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Bell pepper
                    </div>
                    <div id="eggplant_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Eggplant
                    </div>
                    <div id="zucchini_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true" ondragstart="drag(event)" onclick="return_back(this)">
                        Zucchini
                    </div>
                    <div id="onion_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Onion
                    </div>
                    <div id="garlic_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Garlic
                    </div>
                    <div id="mushroom_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Mushroom
                    </div>
                    <div id="beans_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Beans
                    </div>
                    <div id="radish_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center; margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Radish
                    </div>
                    <div id="broccoli_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center;margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Broccoli
                    </div>
                    <div id="potato_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center;margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Potato
                    </div>
                    <div id="tomato_txt" style="border-radius: 10px 10px 10px 10px; background-color: #e4e3e8; text-align: center;margin: 5px;" draggable="true"  ondragstart="drag(event)" onclick="return_back(this)">
                        Tomato
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }
        function return_back(target) {
            if(target.parentNode.id === "options"){
                return;
            }
            target.parentNode.removeChild(target);
            target.style.color= "";
            document.getElementById("options").appendChild(target);
        }
        function drop(ev) {
            ev.preventDefault();
            var data = document.getElementById(ev.dataTransfer.getData("text"));
            if (ev.target.tagName === "IMG") {
                if(ev.target.parentNode.childElementCount === 2){
                    return;
                }
                 if(data.id.split("\_")[0] === ev.target.id){
                    data.style.color = "#48ab53";
                }else{
                    data.style.color = "#EE202E";
                }
                ev.target.parentNode.appendChild(data);
            } else if(ev.target.tagName === "DIV" && ev.target.childElementCount !== 0) {
                if(ev.target.childElementCount === 2){
                    return;
                }
                if(data.id.split("\_")[0] === ev.target.children[0].id){
                    data.style.color = "#48ab53";
                }else{
                    data.style.color = "#EE202E";
                }
                ev.target.appendChild(data);
            }
        }
    </script>
{% endblock %}
