{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_two.css' %}" />
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colors/glossary.js' %}"></script>
@@ -15,49 +15,55 @@
</div>
<div class="col-lg-6 main">
    <div class="row text">
        <div class="msg jenny title">
            <p style="font-weight: bold;margin:0">Dodatno znanje</p>
        </div>
    </div>
    <div class="row text">
        <div class="msg jenny">Colours have different shades, which is why we put adjectives, such as <p
                style="color:#D55225;font-weight: bold;margin:0">LIGHT</p>, <p
                style="color:#D55225;font-weight: bold;margin:0">DARK</p> and <p
                style="color:#D55225;font-weight: bold;margin:0">BRIGHT</p>, in front of them.</div>
        <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
        <audio id="a1" src="{% static 'audio/lesson1_jenny/colors/15.mp3' %}"></audio>
        <div class="msg jenny translation">Barve imajo različne odtenke, zato postavimo pred barvo pridevnike, kot
            so svetlo, temno in živo.</div>
    </div>
    <div id="table-div">
        <table id="table_one">
            <tr>
                <td onclick="play('a2')">light</td>
                <td onclick="play('a2')">svetlo</td>
                <audio id="a2" src="{% static 'audio/lesson1_jenny/colors/16.mp3' %}"></audio>
            </tr>
            <tr>
                <td onclick="play('a3')">dark</td>
                <td onclick="play('a3')">temno</td>
                <audio id="a3" src="{% static 'audio/lesson1_jenny/colors/17.mp3' %}"></audio>
            </tr>
            <tr>
                <td onclick="play('a4')">bright</td>
                <td onclick="play('a4')">živo</td>
                <audio id="a4" src="{% static 'audio/lesson1_jenny/colors/18.mp3' %}"></audio>
            </tr>
        </table>
        <table id="table_two">
            <tr>
                <td onclick="play('a5')" class="color" style="background: #00BDCD; color: #00BDCD">_____</td>
                <td onclick="play('a5')">light blue</td>
                <td onclick="play('a5')">svetlo modra</td>
                <audio id="a5" src="{% static 'audio/lesson1_jenny/colors/19.mp3' %}"></audio>
            </tr>
            <tr>
                <td onclick="play('a6')" class="color" style="background: #0068AC; color: #0068AC">_____</td>
                <td onclick="play('a6')">dark blue</td>
                <td onclick="play('a6')">temno modra</td>
                <audio id="a6" src="{% static 'audio/lesson1_jenny/colors/20.mp3' %}"></audio>
            </tr>
            <tr>
                <td onclick="play('a7')" class="color" style="background: #EF509C; color: #EF509C">_____</td>
                <td onclick="play('a7')">bright pink</td>
                <td onclick="play('a7')">živo roza</td>
                <audio id="a7" src="{% static 'audio/lesson1_jenny/colors/21.mp3' %}"></audio>
            </tr>
        </table>
    </div>
</div>
{% include "character.html" %}
</div>
{% endblock %}