.full-width {
    width: 100% !important;
}

.listenButton {
    height: 3vh;
    float: right;
}

.icon {
    width:33%;
    margin-left: 33%;
    margin-top: 6%;
}

.draggable-portrait {
    width: 5vw;
}

.ftrow {
    height: 12vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.ftcol {
    height: 100%;
}

.ftrow {
    height:22vh;
    text-align: center;
}


.ftree {
    height: 60vh;
    position: absolute;
    z-index: 0;
}

.content {
    margin: 0 !important;
    padding: 0 !important;
}

.center {
    margin-left: 50%;
    width: 100%;
}

.drop {
    height: 100%;
}