.full-width {
    width: 100% !important;
}

.listenButton {
    height: 3vh;
    float: right;
}

.icon {
    width:33%;
    margin-left: 33%;
    margin-top: 6%;
}

.textarea {
    width: 80%;
}

.draggable-portrait {
    width: 5.5vw;
    border-radius: 50%;
}

.familyname {
    float:left;
    width: 5.5vw;
    padding: 5%;
}

.correct {
    background: #58469F;
    color: #00A881;
}

.incorrect {
    background: #58469F;
    color: #F15D2A;
}

.correct:hover, .incorrect:hover {
    background: #58469F;
}

.correct, .incorrect {
    margin-left: 5%;
}

.ftrow {
    height: 12vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.ftrow {
    height:22vh;
    text-align: center;
}


.ftree {
    height: 56vh;
    position: absolute;
    z-index: 0;
}

.content {
    margin: 0 !important;
    padding: 0 !important;
}

.drop {
    height: 100%;
}

.tree-row {
    height: 36%;
    padding-top: 1%;
}

.tree-row .col-lg-3{
    padding-left: 1.2%;
}

.left {
    right:2.6%;
}

.left2 {
    left: -4%;
}

.left3 {
    right: 8%;
}