{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_three.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/page_one.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.svg.es5.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row text space">
                <div class="msg jenny">J: Let's create your avatar.<br>Please choose your skin colour.</div>
                <div class="msg jenny translation">Greva oblikovati tvojega avatarja.<br>Prosim izberi barvo kože.</div>
            </div>
            <div class="row text space">
                <div class="msg jenny translation" style="display:flex;flex-direction: column; padding: 5px;">
                    <div style="display: flex;justify-content: space-evenly;">
                        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
                        <button style="border-radius: 50%; width: 100px;height: 100px; background-color: #d89f72;" onclick="changeSkinColor(this)"></button>
                        <button style="border-radius: 50%;  width: 100px;height: 100px; background-color: #643a00;" onclick="changeSkinColor(this)"></button>
                        <button style="border-radius: 50%;  width: 100px;height: 100px; background-color: #ffd39b;" onclick="changeSkinColor(this)"></button>
                        <button style="border-radius: 50%;  width: 100px;height: 100px; background-color: #eed1bf;" onclick="changeSkinColor(this)"></button>
                    </div>
                </div>
            </div>
            <div class="row text space">
                <div class="msg jenny">J: Hey {{ user.first_name }}, tell me more about yourself.</div>
                <div class="msg jenny translation">Hey {{ user.first_name }} povej mi kaj več o sebi.</div>
            </div>
            <div class="row text space">
                <div class="msg jenny">J: I am 167cm tall. How tall are you?</div>
                <div class="msg jenny translation">Jaz sem visoka 167cm. Kako visok si ti?</div>
            </div>
            <div class="row text space">
                <div class="msg user instruction spoken"><b>Navodilo:</b> <br> Vpiši svojo višino v cm.</div>
                <div class="msg user">I am <input type="text" id="name_input"> cm tall.</div>
                <div class="msg user slo">Visok sem <p class="slo_name">_____</p> cm.</div>
            </div>
        </div>
        <div class="col-lg-3">
            <object data="{% static 'svg/lesson1/male_avatar/body/glasses/tall/slim/short_hair/no_beard.svg' %}" type="image/svg+xml" id="character"></object>
        </div>
    </div>
{% endblock %}