{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_six.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_three.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/page_five.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.svg.es5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/glossary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" id="jenny">
        </div>
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
        <div class="col-lg-6">
            <div class="row text space">
                {{ colors|json_script:"colors" }}
                {{ parts|json_script:"parts" }}
                <div class="msg jenny">Pick out your clothes.</div> 
                <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                <audio id="a1" src="{% static 'audio/lesson1_jenny/character_select/10.mp3' %}"></audio>
                <div class="msg jenny translation">Izberi svoja oblačila.</div>
            </div>
            {% if user.sex == "M" %}
                <div class="row text space">
                    <div class="msg jenny translation" style="display:flex;flex-direction: column; padding: 5px;">
                        <div style="display: flex;justify-content: space-evenly;">
                            <button id="red_suite"
                                    style="border-radius: 50%; width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/male/red_suite.svg" %}) center no-repeat;"
                                    onclick="changeSuite(this); update_session({'suite_color':'rgb(145,44,70)'});update_session({'buttons_color':'rgb(120,18,28)'});update_session({'pants_color':'rgb(210,186,183)'});"></button>
                            <button id="blue_suite"
                                    style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/male/blue_suite.svg" %}) center no-repeat;"
                                    onclick="changeSuite(this); update_session({'suite_color':'rgb(0,84,166)'}); update_session({'buttons_color':'rgb(0,61,123)'}); update_session({'pants_color':'rgb(123,175,222)'}) "></button>
                            <button id="green_suite"
                                    style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/male/green_suite.svg" %})center no-repeat;"
                                    onclick="changeSuite(this);update_session({'suite_color':'rgb(0,168,129)'}); update_session({'buttons_color':'rgb(72,144,134)'}); update_session({'pants_color':'rgb(0,125,172)'})"></button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row text space">
                    <div class="msg jenny translation" style="display:flex;flex-direction: column; padding: 5px;">
                        <div style="display: flex;justify-content: space-evenly;">
                            <button id="red_shirt"
                                    style="border-radius: 50%; width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/female/red_shirt.svg" %}) center no-repeat;"
                                    onclick="update_session({'shirt_color':'rgb(204, 51, 51)'});update_session({'shoes_color':'rgb(7, 67, 104)'});update_session({'pants_color':'rgb(7, 67, 104)'});update_session({'wearing':'shirt'}); window.location.href='?wearing=shirt&shirt_color=rgb(204, 51, 51)&pants_color=rgb(7, 67, 104)&shoes_color=rgb(7, 67, 104)'"></button>
                            <button id="pink_shirt"
                                    style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/female/pink_shirt.svg" %}) center no-repeat;"
                                    onclick="update_session({'shirt_color':'rgb(209, 110, 129)'}); update_session({'shoes_color':'rgb(187, 183, 220)'}); update_session({'pants_color':'rgb(187, 183, 220)'});update_session({'wearing':'shirt'}); window.location.href='?wearing=shirt&shirt_color=rgb(209, 110, 129)&pants_color=rgb(187, 183, 220)&shoes_color=rgb(187, 183, 220)'"></button>
                            <button id="orange_dress"
                                    style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/female/orange_dress.svg" %})center no-repeat;"
                                    onclick="update_session({'dress_color':'rgb(205, 146, 70)'}); update_session({'shoes_color':'rgb(205, 146, 70)'});update_session({'wearing':'dress'}); window.location.href='?wearing=dress&dress_color=rgb(205, 146, 70)&shoes_color=rgb(205, 146, 70)'"></button>
                            <button id="blue_dress"
                                    style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/female/blue_dress.svg" %})center no-repeat;"
                                    onclick="update_session({'dress_color':'rgb(4, 116, 187)'}); update_session({'shoes_color':'rgb(4, 116, 187)'});update_session({'wearing':'dress'}); window.location.href='?wearing=dress&shoes_color=rgb(4, 116, 187)&dress_color=rgb(4, 116, 187)'"></button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3">
            <object data="{% static src %}" type="image/svg+xml" id="character"></object>
        </div>
    </div>
    <script>
        function timeout(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function saveSessionAndNext() {
            $.ajax({
                type: 'POST',
                url: "/save_session",
                data: {csrfmiddlewaretoken: window.CSRF_TOKEN}
            });
            await(timeout(500))
            window.location.href ="{{ next }}";
        }
        
        $(window).on("load", function () {
            recolor();
            document.getElementById("next").setAttribute("onclick", "saveSessionAndNext()");
        })
    </script>
{% endblock %}