{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_six.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_three.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/page_three.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.svg.es5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row text nospace">
                <div class="msg jenny">My hair is short not long. And it is brown. What is your hair like?</div> 
                <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                <audio id="a1" src="{% static 'audio/lesson1_jenny/character_select/7.mp3' %}"></audio>
                <div class="msg jenny translation">Moji lasje so kratki, ne dolgi. In sivi. Kakšni pa so tvoji lasje ?</div>
            </div>
            <div class="row text space">
                <table id="table">
                    <tr>
                        <td>My hair is short.</td>
                        <td>Moji lasje so kratki.</td>
                    </tr>
                    <tr>
                        <td>My hair is long.</td>
                        <td>Moji lasje so dolgi.</td>
                    </tr>
                    <tr>
                        <td>I am bald.</td>
                        <td>Plešast sem.</td>
                    </tr>
                </table>
            </div>
            <div class="row text space">
                <div class="msg jenny translation" style="display:flex;flex-direction: column; padding: 5px;">
                    <div style="display: flex;justify-content: space-evenly;">
                        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
                        {% if user.sex == "M" %}
                            <button id="short_hair" style="border-radius: 50%; width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/male/short_hair.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'short_hair'});"></button>
                            <button id="long_hair" style="border-radius: 50%;  width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/male/long_hair.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'long_hair'});"></button>
                            <button id="patch" style="border-radius: 50%;  width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/male/bald.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'patch'});"></button>
                            <button id="bald" style="border-radius: 50%;  width: 10vh;height: 10vh;"
                                    onclick="update({'hair_type':'bald'});">Bald</button>
                        {% else %}
                            <button id="medium"style="border-radius: 50%; width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/female/medium_hair.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'medium'})"></button>
                            <button id="curly" style=" border-radius: 50%;  width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/female/curly_hair.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'curly'})"></button>
                            <button id="bun"style="border-radius: 50%;  width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/female/bun_hair.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'bun'})"></button>
                            <button id="long" style="border-radius: 50%;  width: 10vh;height: 10vh; background:url({% static "svg/lesson1/character_select/female/long_hair.svg" %}) no-repeat;"
                                    onclick="update({'hair_type':'long'})"></button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text space" id="color_buttons">
                <div class="msg jenny translation" style="display:flex;flex-direction: column; padding: 5px;">
                    <div style="display: flex;justify-content: space-evenly;">
                        {{ colors|json_script:"colors" }}
                        {{ parts|json_script:"parts" }}
                        <button {% if hair_color == "rgb(35, 31, 32)" %} class="color selected"{% else %}class="color"{% endif %} style="border-radius: 50%; width: 10vh;height: 10vh; background-color: #231f20;"
                                onclick="select(this), update_session({'hair_color':this.style.backgroundColor})"></button>
                        <button {% if hair_color == "rgb(100, 58, 0)" %} class="color selected"{% else %}class="color"{% endif %} style="border-radius: 50%;  width: 10vh;height: 10vh; background-color: #643a00;"
                                onclick="select(this), update_session({'hair_color':this.style.backgroundColor})"></button>
                        <button {% if hair_color == "rgb(255, 235, 198)" %} class="color selected"{% else %}class="color"{% endif %} style="border-radius: 50%;  width: 10vh;height: 10vh; background-color: #ffebc6;"
                                onclick="select(this), update_session({'hair_color':this.style.backgroundColor})"></button>
                        <button {% if hair_color == "rgb(193, 192, 219)" %} class="color selected"{% else %}class="color"{% endif %} style="border-radius: 50%;  width: 10vh;height: 10vh; background-color: #c1c0db;"
                                onclick="select(this), update_session({'hair_color':this.style.backgroundColor})"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <object data="{% static src %}" type="image/svg+xml" id="character"></object>
        </div>
    </div>
{% endblock %}