{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_six.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_three.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/page_four.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.svg.es5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" id="jenny">
        </div>
        <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
        <div class="col-lg-6">
            <div class="row text space">
                {{ colors|json_script:"colors" }}
                {{ parts|json_script:"parts" }}
                <div class="msg jenny">Do you wear glasses?
                    <button class="btn" onclick="update({'glasses' : 'glasses'})">Yes</button>
                    /
                    <button class="btn" onclick="update({'glasses':'no_glasses'})">No</button>
                </div> 
                <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                <audio id="a1" src="{% static 'audio/lesson1_jenny/character_select/8.mp3' %}"></audio>
                <div class="msg jenny translation">Ali nosiš očala? Ja/ne</div>
            </div>
            {% if user.sex == "M" %}
                <div class="row text space">
                    <div class="msg jenny">Do you have a beard or a mustache?
                        <button class="btn" onclick="document.getElementById('beard_select').style.display='block'">Yes</button>
                        /
                        <button class="btn" onclick="update({'beard':'no_beard'})">No</button>
                    </div>
                    <input type="image" onclick="play('a2')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                    <audio id="a2" src="{% static 'audio/lesson1_jenny/character_select/9.mp3' %}"></audio>
                    <div class="msg jenny translation">Ali imaš brado ali brke? Ja/ne</div>
                </div>
                <div class="row text space" id="beard_select" style="display: none">
                    <div class="msg jenny translation" style="display:flex;flex-direction: column; padding: 5px;">
                        <div style="display: flex;justify-content: space-evenly;">
                            <button id="full_beard"
                                    style="border-radius: 50%; width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/male/full_beard.svg" %}) no-repeat;"
                                    onclick="update({'beard':'full_beard'});"></button>
                            <button id="mustache"
                                    style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/male/mustache.svg" %}) center no-repeat;"
                                    onclick="update({'beard':'mustache'});"></button>
                            <button id="goatee" style="border-radius: 50%;  width: 100px;height: 100px; background:url({% static "svg/lesson1/character_select/male/goatee.svg" %}) no-repeat;"
                                    onclick="update({'beard':'goatee'});"></button>
                            <button id="no_beard" style="border-radius: 50%;  width: 100px;height: 100px;"
                                    onclick="update({'beard':'no_beard'});">None
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3">
            <object data="{% static src %}" type="image/svg+xml" id="character"></object>
        </div>
    </div>
{% endblock %}