{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_three.css' %}"/>
    <script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/page_two.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.svg.es5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/character_select/glossary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row" style="height: 100%;">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-body.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row text space">
                {% if request.session.height == "tall" %}
                    <div class="msg jenny">You are tall!</div> 
                    <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                    <audio id="a1" src="{% static 'audio/lesson1_jenny/character_select/4.1.mp3' %}"></audio>
                    {% if user.sex == "M" %}
                        <div class="msg jenny translation">Visok si!</div>
                    {% else %}
                        <div class="msg jenny translation">Visoka si!</div>
                    {% endif %}
                {% else %}
                    <div class="msg jenny">You are short!</div> 
                    <input type="image" onclick="play('a11')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                    <audio id="a11" src="{% static 'audio/lesson1_jenny/character_select/4.2.mp3' %}"></audio>
                    {% if user.sex == "M" %}
                        <div class="msg jenny translation">Si nižje rasti!</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row text space">
                <div class="msg jenny">I am quite plump now but I was slender when I was young</div>
                <div class="msg jenny translation">Zdaj sem precej debela, vendar sem bila suha, ko sem bila mlada</div>
                <input type="image" onclick="play('a2')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                <audio id="a2" src="{% static 'audio/lesson1_jenny/character_select/5.mp3' %}"></audio>
            </div>
            <div class="row text space">
                <div class="msg jenny">What about you? Are you fat or slim?</div> 
                <input type="image" onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
                <audio id="a3" src="{% static 'audio/lesson1_jenny/character_select/6.mp3' %}"></audio>
                {% if user.sex == 'M' %}
                    <div class="msg jenny translation">Kja pa ti? Si močnejše postave ali vitek?</div>
                {% else %}
                    <div class="msg jenny translation">Kaj pa ti? Si debela ali suha?</div>
                {% endif %}
            </div>
            <div class="row text space">
                <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
                <div class="msg user">I am <input type="text" id="name_input"></div>
                {% if user.sex == 'M' %}
                    <div class="msg user slo">Jaz sem <p class="slo_name">_____</p></div>
                {% else %}
                    <div class="msg user slo">Jaz sem <p class="slo_name">_____</p></div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3">
            {{ colors|json_script:"colors" }}
            {{ parts|json_script:"parts" }}
            <script>
                function recolor() {
                    let svg = document.getElementById("character").contentDocument.children[0];
                    let colors = JSON.parse(document.getElementById("colors").textContent);
                    let parts = JSON.parse(document.getElementById("parts").textContent);
                    let querySelector = "";
                    [].forEach.call(Object.keys(parts), function (el) {
                        querySelector += parts[el] + ",";
                    });
                    console.log(colors);
                    [].forEach.call(svg.querySelectorAll(querySelector.substring(0, querySelector.length - 1)), function (el) {
                        let el_list = el.id;
                        if (/Koza/.test(el_list)) {
                            el.setAttribute("style", "fill: "+colors['body_color']);
                        }else if(/Vrat/.test(el_list)){
                            el.setAttribute("style", "fill: "+ colors['neck']);
                        }
                    });
                }
                $(window).on("load", function () {
                    recolor();
                })
            </script>
            {% if user.sex == 'M' %}
                {% if request.session.height == "tall" %}
                    <object data="{% static 'svg/lesson1/male_avatar/body/glasses/tall/slim/short_hair/no_beard.svg' %}" type="image/svg+xml" id="character"></object>
                {% else %}
                    <object data="{% static 'svg/lesson1/male_avatar/body/glasses/short/slim/short_hair/no_beard.svg' %}" type="image/svg+xml" id="character"></object>
                {% endif %}
            {% else %}
                {% if request.session.height == "tall" %}
                    <object data="{% static 'svg/lesson1/female_avatar/body/glasses/tall/slim/dress/long.svg' %}" type="image/svg+xml" id="character"></object>
                {% else %}
                    <object data="{% static 'svg/lesson1/female_avatar/body/glasses/short/slim/dress/long.svg' %}" type="image/svg+xml" id="character"></object>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}