{% load static %}
{{ colors|json_script:"colors" }}
{{ parts|json_script:"parts" }}

<div class="col-lg-3 {{ class }}" style="max-height: 20vh;">
    <object data="{% static src %}" type="image/svg+xml" id="character" width="80%"></object>
    <div id="cover"></div>
    <script>
        function recolor() {
            let svg = document.getElementById("character").contentDocument.children[0];
            svg.setAttribute("viewBox","0 0 278 278");
            let colors = JSON.parse(document.getElementById("colors").textContent);
            let parts = JSON.parse(document.getElementById("parts").textContent);
            //console.log(colors,parts)
            let querySelector = "";
            [].forEach.call(Object.keys(parts), function (el) {
                querySelector += parts[el] + ",";
            });
            [].forEach.call(svg.querySelectorAll(querySelector.substring(0, querySelector.length - 1)), function (el) {
                let el_list = el.id;
                if (/Koza/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['body_color']);
                } else if (/Vrat/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['neck']);
                } else if (/Lasje/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['hair_color']);
                } else if (/Brada/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['hair_color']);
                } else if (/Brki/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['hair_color']);
                } else if (/Krog/.test(el_list)) {
                    el.setAttribute("style", "stroke: " + colors['suite_color']);
                } else if (/Pulover/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['suite_color']);
                } else if (/Majica/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['suite_color']);
                } else if (/Obrve-4/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['hair_color']);
                } else if (/Obrve-2/.test(el_list)) {
                    el.setAttribute("style", "fill: " + colors['hair_color']);
                } else if (/Obrve$/.test(el_list)) {
                    try{
                        el.children[0].setAttribute("style", "fill: " + colors['hair_color']);
                    } catch(e) {
                        el.setAttribute("style", "fill: " + colors['hair_color']);
                    }
                } else if (/obrve$/.test(el_list)) {
                    try{
                        el.children[0].setAttribute("style", "fill: " + colors['hair_color']);
                    } catch(e) {
                        el.setAttribute("style", "fill: " + colors['hair_color']);
                    }
                }
            });
        }

        $(window).on("load", function () {
            recolor();
            document.getElementById("cover").style.display="none";
        });
    </script>
</div>