{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_twentytwo.css' %}"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                Poglej si tabelo. 
            </div>
        </div>
        <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
        <img src="{% static 'svg/common/listen_on.svg' %}" type="svg" class="listen" id="on">
        <div class="help-table" id="help-table">
            <div class="help row">
                <button class="col-lg-6 tip" disabled>first</button>
                <button class="col-lg-6 tip c2">1<sup>st</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>second</button>
                <button class="col-lg-6 tip c2">2<sup>nd</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>third</button>
                <button class="col-lg-6 tip c2">3<sup>rd</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>fourth</button>
                <button class="col-lg-6 tip c2">4<sup>th</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>fifth</button>
                <button class="col-lg-6 tip c2">5<sup>th</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>sixth</button>
                <button class="col-lg-6 tip c2">6<sup>th</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>seventh</button>
                <button class="col-lg-6 tip c2">7<sup>th</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>eightht</button>
                <button class="col-lg-6 tip c2">8<sup>th</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>ninth</button>
                <button class="col-lg-6 tip c2">9<sup>th</sup></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>tenth</button>
                <button class="col-lg-6 tip c2">10<sup>th</sup></button>
            </div>
        </div>
        <div class="row inst">
            <div class="msg jenny">
                Če slediš zapisu vrstilnih števnikov, se ne moreš zmotiti!
            </div>
        </div>
    </div>
</div>
{% endblock %}