{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_thirteen.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
<script type="text/javascript" src="{% static 'js/numbers/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                Now that you know the numbers up to 20, the rest will be a peace of cake. <br>
                Click on the words, listen and repeat after me.
            </div>
            <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <audio id="a1" src="{% static 'audio/lesson1_jenny/numbers/25.mp3' %}"></audio>
            <div class="msg jenny slo centre">
                Zdaj ko poznaš števila do 20, bo preostalo mala malica. <br>
                Klikni na besede, prisluhni in ponovi za mano.
            </div>
        </div>
        <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
        <div class="help-table" id="help-table">
            <div class="help row">
                <button onclick="play('a2')" class="tip">20</button>
                <button onclick="play('a2')" class="tip c2">twenty</button>
                <audio id="a2" src="{% static 'audio/lesson1_jenny/numbers/26.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a3')" class="tip">21</button>
                <button onclick="play('a3')" class="tip c2">twenty-one</button>
                <audio id="a3" src="{% static 'audio/lesson1_jenny/numbers/27.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a4')" class="tip">30</button>
                <button onclick="play('a4')" class="tip c2">thirty</button>
                <audio id="a4" src="{% static 'audio/lesson1_jenny/numbers/28.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a5')" class="tip">40</button>
                <button onclick="play('a5')" class="tip c2">forty</button>
                <audio id="a5" src="{% static 'audio/lesson1_jenny/numbers/29.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a6')" class="tip">50</button>
                <button onclick="play('a6')" class="tip c2">fifty</button>
                <audio id="a6" src="{% static 'audio/lesson1_jenny/numbers/30.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a7')" class="tip">60</button>
                <button onclick="play('a7')" class="tip c2">sixty</button>
                <audio id="a7" src="{% static 'audio/lesson1_jenny/numbers/31.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a8')" class="tip">70</button>
                <button onclick="play('a8')" class="tip c2">seventy</button>
                <audio id="a8" src="{% static 'audio/lesson1_jenny/numbers/32.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a9')" class="tip">80</button>
                <button onclick="play('a9')" class="tip c2">eighty</button>
                <audio id="a9" src="{% static 'audio/lesson1_jenny/numbers/33.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a10')" class="tip">90</button>
                <button onclick="play('a10')" class="tip c2">ninety</button>
                <audio id="a10" src="{% static 'audio/lesson1_jenny/numbers/34.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a11')" class="tip">100</button>
                <button onclick="play('a11')" class="tip c2">one hundred</button>
                <audio id="a11" src="{% static 'audio/lesson1_jenny/numbers/35.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a12')" class="tip">500</button>
                <button onclick="play('a12')" class="tip c2">five hundred</button>
                <audio id="a12" src="{% static 'audio/lesson1_jenny/numbers/36.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a13')" class="tip">1000</button>
                <button onclick="play('a13')" class="tip c2">one thousand</button>
                <audio id="a13" src="{% static 'audio/lesson1_jenny/numbers/37.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a14')" class="tip">1500</button>
                <button onclick="play('a14')" class="tip c2">one thousand five hundred</button>
                <audio id="a14" src="{% static 'audio/lesson1_jenny/numbers/38.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a15')" class="tip">1500</button>
                <button onclick="play('a15')" class="tip c2">fifteen hundred</button>
                <audio id="a15" src="{% static 'audio/lesson1_jenny/numbers/39.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a16')" class="tip">100,000</button>
                <button onclick="play('a16')" class="tip c2">one hundred thousand</button>
                <audio id="a16" src="{% static 'audio/lesson1_jenny/numbers/40.mp3' %}"></audio>
            </div>
            <div class="help row">
                <button onclick="play('a17')" class="tip">1,000,000</button>
                <button onclick="play('a17')" class="tip c2">one million</button>
                <audio id="a17" src="{% static 'audio/lesson1_jenny/numbers/41.mp3' %}"></audio>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}