{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">J: Vrstilne števnike lahko zapišemo tudi 
                s številom tako kot v slovenščini. 
                Zapišemo število in nadpisano zapišemo 
                zadnji dve črki izpisanega 
                vrstilnega števnika. </div>
        </div>
        <div class="row inst">
            <div class="msg jenny">J: Poglejva si vrstilni števnik PRVI. 
                Naučila sva se, da se po angleško 
                reče FIRST. First je vrstilni števnik 
                števila 1, zato najprej zapišemo število 1. 
                V besedi first sta zadnji dve črki ST, zato 
                nadpisano dopišemo ST: 1st. </div>
        </div>
    </div>
</div>
<div class="col-lg-3"></div>
{% endblock %}