{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_ten.css' %}"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                J: Now let’s look at the numbers from 
                11 to 19. Click on the words, listen to the 
                pronunciation and repeat after me.
            </div> <input type="image" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <div class="msg jenny slo centre">
                Zdaj si poglejva števila od 11 do 19. 
                Klikni na besede, prisluhni izgovorjavi 
                in ponovi za mano.
            </div>
        </div>
        <img src="{% static 'svg/common/listen_off.svg' %}" type="svg" class="listen" id="off">
        <img src="{% static 'svg/common/listen_on.svg' %}" type="svg" class="listen" id="on">
        <div class="help-table" id="help-table">
            <div class="help row">
                <button class="col-lg-6 tip" disabled>11</button>
                <button class="col-lg-6 tip c2">eleven</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>12</button>
                <button class="col-lg-6 tip c2">twelve</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>13</button>
                <button class="col-lg-6 tip c2">thirteen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>14</button>
                <button class="col-lg-6 tip c2">fourteen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>15</button>
                <button class="col-lg-6 tip c2">fifteen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>16</button>
                <button class="col-lg-6 tip c2">sixteen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>17</button>
                <button class="col-lg-6 tip c2">seventeen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>18</button>
                <button class="col-lg-6 tip c2">eighteen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>19</button>
                <button class="col-lg-6 tip c2">nineteen</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>20</button>
                <button class="col-lg-6 tip c2">twenty</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}