{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_one.css' %}"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst">
            <div class="msg jenny">
                <p style="color:#D55225;font-weight: bold;margin:0">DESETICE</p> oblikujemo tako, da vzamemo 
                prvo število in dodamo končnico <p style="color:#D55225;font-weight: bold;margin:0">-TY</p>.<br> 
                <p style="color:#D55225;font-weight: bold;margin:0">20</p> in 
                <p style="color:#D55225;font-weight: bold;margin:0">30</p> sta izjemi, saj imata posebni obliki.
                 Ti dve si je treba zapomniti na pamet.                 
            </div>
        </div>
        <div class="row inst">
            <div class="msg jenny">
                Pazi! Števila 4 in 14 se zapišeta
                <p style="color:#D55225;font-weight: bold;margin:0">FOUR</p> in 
                <p style="color:#D55225;font-weight: bold;margin:0">FOURTY</p>, pri 40 pa izgine
                črka <p style="color:#D55225;font-weight: bold;margin:0">U (FORTY).</p>
            </div>
        </div>
        <div class="row inst">
            <div class="msg jenny">
                Števila <p style="color:#D55225;font-weight: bold;margin:0">od 21 do 29</p> oblikujemo tako, 
                da zapišemo posebej desetico in enico,
                ločimo ju pa z <p style="color:#D55225;font-weight: bold;margin:0">VEZAJEM</p>.
            </div>
        </div>
        <div class="row inst">
            <div class="msg user">
                21 = twenty + one >> twenty-one. 
            </div>
        </div>
    </div>
</div>
{% endblock %}