{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_seventeen.css' %}"/>
{% endblock %}
{% block content %}
<div class="row content">
    <div class="col-lg-3 side">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <button class="numbers-button" id="button">Dodatno znanje - Vrstilni števniki</button>
    </div>
    <div class="col-lg-3 side"></div>
    <div class="col-lg-10 centre">
        <div class="help-table" id="help-table">
            <div class="help row">
                <button class="col-lg-6 tip title" disabled>Number/število</button>
                <button class="col-lg-6 tip title">Zapis</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>1</button>
                <button class="col-lg-6 tip c2">one</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>2</button>
                <button class="col-lg-6 tip c2">two</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>3</button>
                <button class="col-lg-6 tip c2">three</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>4</button>
                <button class="col-lg-6 tip c2">four</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>5</button>
                <button class="col-lg-6 tip c2">fiv<p style="color:#FBE100;font-weight: bold;margin:0">e</p></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>6</button>
                <button class="col-lg-6 tip c2">six</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>7</button>
                <button class="col-lg-6 tip c2">seven</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>8</button>
                <button class="col-lg-6 tip c2">eigh<p style="color:#FBE100;font-weight: bold;margin:0">t</p></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>9</button>
                <button class="col-lg-6 tip c2">nin<p style="color:#FBE100;font-weight: bold;margin:0">e</p></button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>10</button>
                <button class="col-lg-6 tip c2">ten</button>
            </div>
        </div>
        <div class="help-table" id="help-table">
            <div class="help row">
                <button class="col-lg-6 tip title" disabled>Vrstilni števnik</button>
                <button class="col-lg-6 tip title">Prevod</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled><p style="color:#FBE100;font-weight: bold;margin:0">first</p></button>
                <button class="col-lg-6 tip c2">prvi</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled><p style="color:#FBE100;font-weight: bold;margin:0">second</p></button>
                <button class="col-lg-6 tip c2">drugi</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled><p style="color:#FBE100;font-weight: bold;margin:0">third</p></button>
                <button class="col-lg-6 tip c2">tretji</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>four<p style="color:#FBE100;font-weight: bold;margin:0">th</p></button>
                <button class="col-lg-6 tip c2">četrti</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled><p style="color:#FBE100;font-weight: bold;margin:0">fifth</p></button>
                <button class="col-lg-6 tip c2">peti</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>six<p style="color:#FBE100;font-weight: bold;margin:0">th</p></button>
                <button class="col-lg-6 tip c2">šesti</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>seven<p style="color:#FBE100;font-weight: bold;margin:0">th</p></button>
                <button class="col-lg-6 tip c2">sedmi</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>eigh<p style="color:#FBE100;font-weight: bold;margin:0">th</p></button>
                <button class="col-lg-6 tip c2">osmi</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>nin<p style="color:#FBE100;font-weight: bold;margin:0">th</p></button>
                <button class="col-lg-6 tip c2">deveti</button>
            </div>
            <div class="help row">
                <button class="col-lg-6 tip" disabled>ten<p style="color:#FBE100;font-weight: bold;margin:0">th</p></button>
                <button class="col-lg-6 tip c2">deseti</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}