{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/numbers/page_nine.css' %}"/>
<script type="text/javascript" src="{% static 'js/numbers/page_nine.js' %}"></script>
<script type="text/javascript" src="{% static 'js/next_empty_input.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6">
        <div class="row inst" id="instructions">
            <div class="msg user">
                Complete the table by adding the numbers or words.   
            </div>
            <div class="msg user slo">
                Dopolni tabelo tako, da vstaviš števila ali besede.
            </div>
            <input type="image" src="{% static 'svg/common/redo.svg' %}" id="redo_b" onclick="redo()">
        </div>
        <div class="help-table" id="help-table">
            <div class="help row" id="row0">
                <button class="col-lg-6 tip" disabled>
                    <p id="n0">0</p>
                    <input class="textarea" style="display:none" size="5" onchange="solution(this,'0')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">zero</p>
                    <input class="textarea" style="display:none" size="5" onchange="solution(this,'zero')"/>
                </button>
            </div>
            <div class="help row" id="row1">
                <button class="col-lg-6 tip" disabled>
                    <p id="n1">1</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'1')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">one</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'one')"/>
                </button>
            </div>
            <div class="help row" id="row2">
                <button class="col-lg-6 tip" disabled>
                    <p id="n2">2</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'2')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">two</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'two')"/>
                </button>
            </div>
            <div class="help row" id="row3">
                <button class="col-lg-6 tip" disabled>
                    <p id="n3">3</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'3')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">three</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'three')"/>
                </button>
            </div>
            <div class="help row" id="row4">
                <button class="col-lg-6 tip" disabled>
                    <p id="n4">4</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'4')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">four</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'four')"/>
                </button>
            </div>
            <div class="help row" id="row5">
                <button class="col-lg-6 tip" disabled>
                    <p id="n5">5</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'5')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">five</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'five')"/>
                </button>
            </div>
            <div class="help row" id="row6">
                <button class="col-lg-6 tip" disabled>
                    <p id="n6">6</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'6')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">six</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'six')"/>
                </button>
            </div>
            <div class="help row" id="row7">
                <button class="col-lg-6 tip" disabled>
                    <p id="n7">7</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'7')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">seven</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'seven')"/>
                </button>
            </div>
            <div class="help row" id="row8">
                <button class="col-lg-6 tip" disabled>
                    <p id="n8">8</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'8')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">eight</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'eight')"/>
                </button>
            </div>
            <div class="help row" id="row9">
                <button class="col-lg-6 tip" disabled>
                    <p id="n9">9</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'9')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">nine</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'nine')"/>
                </button>
            </div>
            <div class="help row" id="row10">
                <button class="col-lg-6 tip" disabled>
                    <p id="n10">10</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'10')"/>
                </button>
                <button class="col-lg-6 tip c2">
                    <p id="t0">ten</p>
                    <input  class="textarea" style="display:none" size="5" onchange="solution(this,'ten')"/>
                </button>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}