{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_three.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/years/page_nine.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text inst ">
            <div class="msg user">2. Say the following years. Then, click on the years to hear the pronunciation.</div>
            <div class="msg user translation">Izberi pravilno izgovorjavo.</div>
            <input type="image" src="{% static 'svg/common/redo.svg' %}" id="redo_b" onclick="redo()">
        </div>
        <div class="row working" style="margin-top: 8%;">
            <div class="row" style="text-align: center"><p class="number" id="one" onclick="tts(this)">1991</p></div>
            <div class="row" style="text-align: center"><p class="number" id="two" onclick="tts(this)">1991</p></div>
            <div class="row" style="text-align: center"><p class="number" id="three" onclick="tts(this)">1991</p></div>
            <div class="row" style="text-align: center"><p class="number" id="four" onclick="tts(this)">1991</p></div>
            <div class="row" style="text-align: center"><p class="number" id="five" onclick="tts(this)">1991</p></div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}