{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_seven.css' %}"/>
<script type="text/javascript" src="{% static 'js/years/page_seven.js' %}"></script>
{% endblock %}
{% block content %}
{{ colors|json_script:"colors" }}
{{ parts|json_script:"parts" }}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text inst">
            <div class="msg user" style="float:none; width: 100%">1. Pogovor z Jenny.</div>
        </div>
        <div class="row text ">
            <div class="msg jenny">I was born in 1970. What year were you born in?</div>
            {% if user.sex == 'M' %}
                    <div class="msg jenny translation">Rojena sem bila leta 1970. Katerega leta si bil ti rojen?</div>
                {% else %}
                    <div class="msg jenny translation">Rojena sem bila leta 1970. Katerega leta si bil ti rojena?</div>
                {% endif %}
        </div>
        <div class="row text inst ">
            <div class="msg user instruction spoken"><b>Navodilo:</b> Vpiši letnico rojstva.</div>
            <div class="msg user">I was born in <input type="text" id="year_input">.</div>
            {% if user.sex == 'M' %}
                    <div class="msg user slo">Rojen sem bil leta <p id="slo_year">_____</p>.</div>
                {% else %}
                    <div class="msg user slo">Rojena sem bila leta <p id="slo_year">_____</p>.</div>
                {% endif %}
        </div>
        <div class="row text inst">
            <div class="msg jenny">First, read it out yourself.</div>
            <div class="msg jenny translation">Najprej sam preberi letnico.</div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">Now, listen.</div>
            <div class="msg jenny translation">Zdaj poslušaj.</div>
        </div>
    </div>
    <div class="col-lg-3">
        <object data="{% static src %}" type="image/svg+xml" id="character"></object>
    </div>
</div>
<script>
            function recolor() {
                let svg = document.getElementById("character").contentDocument.children[0];
                let colors = JSON.parse(document.getElementById("colors").textContent);
                let parts = JSON.parse(document.getElementById("parts").textContent);
                let querySelector = "";
                [].forEach.call(Object.keys(parts), function (el) {
                    querySelector += parts[el] + ",";
                });
                console.log(querySelector);
                [].forEach.call(svg.querySelectorAll(querySelector.substring(0, querySelector.length - 1)), function (el) {
                    let el_list = el.id;
                    console.log(el_list);
                    if (/Koza/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['body_color']);
                    } else if (/Vrat/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['neck']);
                    } else if (/Lasje/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['hair_color']);
                    } else if (/Brada/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['hair_color']);
                    } else if (/Brki/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['hair_color']);
                    } else if (/Krog/.test(el_list)) {
                        el.setAttribute("style", "stroke: " + colors['suite_color']);
                    } else if (/Pulover/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['suite_color']);
                    } else if (/Majica/.test(el_list)) {
                        el.setAttribute("style", "fill: " + colors['suite_color']);
                    }
                });
            }

            $(window).on("load", function () {
                recolor();
            });


</script>
{% endblock %}