{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_seven.css' %}"/>
<script type="text/javascript" src="{% static 'js/years/page_seven.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>

{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text inst">
            <div class="msg user" style="float:none; width: 100%">Pogovor z Jenny.</div>
        </div>
        <div class="row text ">
            <div class="msg jenny">I was born in 1970. <br>What year were you born in?</div>
            <input type="image" onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <audio id="a1" src="{% static 'audio/lesson1_jenny/years/2.mp3' %}"></audio>
            {% if user.sex == 'M' %}
                    <div class="msg jenny translation">Rojena sem bila leta 1970. Katerega leta si bil ti rojen?</div>
                {% else %}
                    <div class="msg jenny translation">Rojena sem bila leta 1970. Katerega leta si bil ti rojena?</div>
                {% endif %}
        </div>
        <div class="row text inst ">
            <div class="msg user instruction spoken"><p style="font-weight: bold;margin:0">Navodilo:</p> Vpiši letnico rojstva.</div>
            <div class="msg user">I was born in <input type="text" id="year_input">.</div>
            {% if user.sex == 'M' %}
                    <div class="msg user slo">Rojen sem bil leta <p id="slo_year">_____</p>.</div>
                {% else %}
                    <div class="msg user slo">Rojena sem bila leta <p id="slo_year">_____</p>.</div>
                {% endif %}
        </div>
        <div class="row text inst">
            <div class="msg jenny">First, read it out yourself.</div>
            <input type="image" onclick="play('a2')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <audio id="a2" src="{% static 'audio/lesson1_jenny/years/3.mp3' %}"></audio>
            <div class="msg jenny translation">Najprej sam preberi letnico.</div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">Now, listen.</div>
            <input type="image" onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <audio id="a3" src="{% static 'audio/lesson1_jenny/years/4.mp3' %}"></audio>
            <input type="image" onclick="tts('year_input')" src="{% static 'svg/common/listen_off.svg' %}" class="listenToAng">
            <div class="msg jenny translation">Zdaj poslušaj.</div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}