{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/colors/page_four.js' %}"></script>
<script type="text/javascript" src="{% static 'js/years/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text ">
            <div class="msg jenny">Pri letnicah, kjer sta zadnji dve števili 0, izgovorimo prvi dve števki skupaj kot število in dodamo
hundred. Zdaj že vemo, da hundred pomeni sto. 1900 bi torej rekli nineteen hundred oz. devetnajst
sto.</div>
        </div>
        <div class="row text inst ">
            <div class="msg user left">Choose the correct pronunciation.</div>
            <div class="msg user translation left">Izberi pravilno izgovorjavo.</div>
        </div>
        <div class="row text working">
            <div class="row" style="text-align: center"><p class="number">1500</p></div>
            <div class="row qest">
                <div class="question">
                    <input type="radio" id="no2" name="year" onclick="check(event, 'yes')">
                    <label for="no2">one thousand five hundred</label><br>
                    <input type="radio" id="no1" name="year" onclick="check(event, 'yes')">
                    <label for="no1">fifteen oh oh</label><br>
                    <input type="radio" id="yes" name="year" onclick="check(event, 'yes')">
                    <label for="yes">fifteen hundred</label><br>
                </div>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}