{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_six.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_six.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/years/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text inst">
            <div class="msg jenny">Write in your notebook.</div>
            <div class="msg jenny translation">Zapiši si v zvezek.</div>
        </div>
        <div id="table-div" style="margin-top: 25%">
            <table id="table" style="width: 100%">
                <tr>
                    <td class="l">1997</td>
                    <td>nineteen ninety-seven</td>
                </tr>
                <tr>
                    <td class="l">1970</td>
                    <td>nineteen seventy</td>
                </tr>
                <tr>
                    <td class="l">1907</td>
                    <td>nineteen oh seven</td>
                </tr>
                <tr>
                    <td class="l">2007</td>
                    <td>twenty oh seven /<br> two thousand and seven</td>
                </tr>
                <tr>
                    <td class="l">1900</td>
                    <td>nineteen hundred</td>
                </tr>
                <tr>
                    <td class="l">2000</td>
                    <td>two thousand</td>
                </tr>
            </table>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="row">

</div>
{% endblock %}