{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}"/>
<script type="text/javascript" src="{% static 'js/years/page_eight.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text ">
            <div class="msg jenny">Did you pronounce it correctly?
                    <button class="btn" onclick="show_congratz(event)">Yes</button>
                    <audio id="a1" src="{% static 'audio/lesson1_jenny/years/6.1.mp3' %}"></audio>
                    /
                    <button class="btn" onclick="show_congratz(event)">No</button>
                    <audio id="a2" src="{% static 'audio/lesson1_jenny/years/6.2.mp3' %}"></audio>
                    .
                </div>
                <div class="msg jenny translation">Si pravilno izgovoril? Ja/ne.</div>
        </div>
        <div class="row text inst" id="answer" style="display: none">
            <div class="msg jenny"></div>
            <div class="msg jenny translation"></div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">Pred letnicami uporabljamo predlog <p style="color:#D55225;font-weight: bold;margin:0">IN</p>, ki pomeni <p style="color:#D55225;font-weight: bold;margin:0">V</p>.
            </div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">I was born <p style="color:#D55225;font-weight: bold;margin:0">in</p> 1970.
            </div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">Če sprašujemo po letnici, uporabimo vprašalnico <p style="color:#D55225;font-weight: bold;margin:0">WHAT YEAR</p>.
            </div>
        </div>
        <div class="row text inst">
            <div class="msg jenny"><p style="color:#D55225;font-weight: bold;margin:0">What year</p> were you born in?
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}