{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_one.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_six.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_six.css' %}" />
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sounds.js' %}"></script>
<script type="text/javascript" src="{% static 'js/years/glossary.js' %}"></script>
<style>
    td.l:hover {
        color: #e6a454;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text inst">
            <div class="msg jenny">Write in your notebook.</div>
            <div class="msg jenny translation">Zapiši si v zvezek.</div>
        </div>
        <div id="table-div" style="margin-top: 25%">
            <table id="table" style="width: 100%">
                <tr>
                    <audio id="a1" src="{% static 'audio/lesson1_jenny/years/1997.mp3' %}"></audio>
                    <td onclick="play('a1')" class="l" style="cursor: pointer;">1997</td>
                    <td>nineteen ninety-seven</td>
                </tr>
                <tr>
                    <audio id="a2" src="{% static 'audio/lesson1_jenny/years/1970.mp3' %}"></audio>
                    <td onclick="play('a2')" class="l" style="cursor: pointer;">1970</td>
                    <td>nineteen seventy</td>
                </tr>
                <tr>
                    <audio id="a3" src="{% static 'audio/lesson1_jenny/years/1907.mp3' %}"></audio>
                    <td onclick="play('a3')" class="l" style="cursor: pointer;">1907</td>
                    <td>nineteen oh seven</td>
                </tr>
                <tr>
                    <audio id="a4" src="{% static 'audio/lesson1_jenny/years/2007.mp3' %}"></audio>
                    <td onclick="play('a4')" class="l" style="cursor: pointer;">2007</td>
                    <td>twenty oh seven /<br> two thousand and seven</td>
                </tr>
                <tr>
                    <audio id="a5" src="{% static 'audio/lesson1_jenny/years/1900.mp3' %}"></audio>
                    <td onclick="play('a5')" class="l" style="cursor: pointer;">1900</td>
                    <td>nineteen hundred</td>
                </tr>
                <tr>
                    <audio id="a6" src="{% static 'audio/lesson1_jenny/years/2000.mp3' %}"></audio>
                    <td onclick="play('a6')" class="l" style="cursor: pointer;">2000</td>
                    <td>two thousand</td>
                </tr>
            </table>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="row">

</div>
{% endblock %}