{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_ten.css' %}"/>
<script type="text/javascript" src="{% static 'js/colors/page_four.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text ">
            <div class="msg user">Choose the correct pronunciation.</div>
            <div class="msg jenny translation" style="margin-left: 10%;">Izberi pravilno izgovorjavo.</div>
        </div>
    </div>
    {% include "character.html" %}
</div>
<div class="row container-fluid">
    <div class="col-lg-6">
            <div class="row text working">
            <div class="row" style="text-align: center"><p class="number">1008</p></div>
            <div class="row qest">
                <div class="question">
                    <input type="radio" id="yes1" name="year1" onclick="check(event, 'yes')">
                    <label for="yes1">ten oh eight</label><br>
                    <input type="radio" id="yes2" name="year1" onclick="check(event, 'yes')">
                    <label for="yes2">one thousand and eight</label><br>
                    <input type="radio" id="no1" name="year1" onclick="check(event, 'yes')">
                    <label for="no1">one hundred and eight</label><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row text working">
            <div class="row" style="text-align: center"><p class="number">1600</p></div>
            <div class="row qest">
                <div class="question">
                    <input type="radio" id="no2" name="year3" onclick="check(event, 'yes')">
                    <label for="no2">sixteen thousand</label><br>
                    <input type="radio" id="no3" name="year3" onclick="check(event, 'yes')">
                    <label for="no3">one thousand six hundred</label><br>
                    <input type="radio" id="yes3" name="year3" onclick="check(event, 'yes')">
                    <label for="yes3">sixteen hundred</label><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}