{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/exercises/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/colors/page_four.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/years/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/colors/page_four.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-3">
        <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
    </div>
    <div class="col-lg-6 main">
        <div class="row text ">
            <div class="msg jenny">Let’s learn how to pronounce years.</div>
            <div class="msg jenny translation">Poglejva, kako se izgovorijo letnice.</div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">Pri večini letnic izgovoriš prvi dve števki skupaj kot eno število in zadnji dve
                števki kot drugo število.
            </div>
        </div>
        <div class="row text inst">
            <div class="msg jenny">1970 se po tem vzorcu izgovori kot nineteen seventy, kar bi bilo po slovensko
                devetnajst
                sedemdeset.
            </div>
        </div>
        <div class="row text inst ">
            <div class="msg user">Choose the correct pronunciation.</div>
            <div class="msg user translation">Izberi pravilno izgovorjavo.</div>
        </div>
        <div class="row text working">
            <div class="row" style="text-align: center"><p class="number">1991</p></div>
            <div class="row qest">
                <div class="question">
                    <input type="radio" id="no1" name="year" onclick="check(event, 'yes')">
                    <label for="no1">one thousand and ninety-one</label><br>
                    <input type="radio" id="yes" name="year" onclick="check(event, 'yes')">
                    <label for="yes">nineteen ninety-one</label><br>
                    <input type="radio" id="no2" name="year" onclick="check(event, 'yes')">
                    <label for="no2">one nine nine one</label><br>
                </div>
            </div>
        </div>
    </div>
    {% include "character.html" %}
</div>
{% endblock %}