{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg user full-width" style="float:unset;">
                    My husband is tall and plump. 
                    <img onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a1" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width">
                    Moj mož je visok in močnejše postave.
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    He is hard-working, kind and great with children. 
                    <img onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a1" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width">
                    Je delaven, prijazen in dober z otroki. 
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    Our kids miss the city and their friends.
                    <img onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a1" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width">
                    Najini otroci pogrešajo mesto in njune prijatelje.
                </div>
            </div>
            <div class="row inst space">
                <div class="msg jenny full-width" style="float:unset;">
                    Za besedo otrok imamo v angleščini dve besedi. Prva je bolj formalna. Druga je bolj pogovorna. 
                </div>
            </div>

            <div class="row inst space">
                <div class="msg user full-width" style="float:unset;">
                    Child (ed.) /Children (mn.)
                </div>
            </div>
            <div class="row inst space">
                <div class="msg user full-width" style="float:unset;">
                    Kid (ed.) /Kids (mn.)
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
</div>
{% endblock %}