{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg user full-width">
                    Click on <img src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">, listen and repeat after me.
                </div>
                <div class="msg jenny translation full-width">
                    Klikli na <img src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">, poslušaj in ponovi za mano.
                </div>
            </div>
            <div class="row inst">
                <div class="msg user full-width" style="float:unset;">
                    My husband will be a great-grandfather. 
                    <img onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton"><br>
                    Moj mož bo pradedek.
                    <audio id="a3" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    We will both be great-grandparents. 
                    <img onclick="play('a4')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton"><br> 
                    Oba bova prastarša. 
                    <audio id="a4" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    great-grandparents = prababica in pradedek
                    <img onclick="play('a5')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a5" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row inst">
                <img src="{% static 'svg/lesson2/family_members/family_members04.svg' %}" type="svg" class="full-width">
            </div>
        </div>
        {% include "character.html" %}
    </div>
</div>
{% endblock %}