{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row inst space">
                <div class="msg user full-width">
                    This is the rest of my family. Click on <img src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">, listen and repeat after me.
                </div>
                <div class="msg jenny translation full-width">
                    To je preostanek moje družine. Klikli na <img src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">, poslušaj in ponovi za mano.
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
    <div class="col-lg-1 full"> </div>
    <div class="col-lg-10">
        <div class="col-lg-6">
            <img src="{% static 'svg/lesson2/family_members/family_members03.svg' %}" type="svg" class="full-width">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    My daughter has a husband, Luke. / Moja hči ima moža, Luka.
                    <img onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a3" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    He is my son-in-law. / On je moj zet.
                    <img onclick="play('a4')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a4" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    They have a daughter, Kelly. / Imata hčer, Kelly.
                    <img onclick="play('a5')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a5" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    She is my second grandchild. / Ona je moja druga vnukinja.
                    <img onclick="play('a6')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a6" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    Kelly and Tina are my granddaughters. / Kelly in Tina sta moji vnukinji.
                    <img onclick="play('a7')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a7" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-1"> </div>
</div>
{% endblock %}