{% extends "main.html" %}
{% load static %}
{% block custom_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduction/page_one.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/common.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/lesson2/family/page_one.css' %}"/>
<script type="text/javascript" src="{% static 'js/enable_button.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson2/family/glossary.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="{% static 'svg/lesson1/introduction/SVG/jenny-head.svg' %}" type="svg" id="jenny">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    Click on <img src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">, listen and repeat after me. 
                </div>
                <div class="msg jenny translation full-width">
                    Klikli na <img src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">,poslušaj in ponovi za mano. 
                </div>
            </div>
            <div class="row">
                <div class="msg jenny full-width" style="float:unset;">
                    This is a description of our family twenty-five years ago.
                </div>
                <div class="msg jenny translation full-width">
                    To je opis moje družine pred petindvajsetimi leti. 
                </div>
            </div>
            <div class="row inst space">
                <div class="msg user full-width" style="float:unset;">
                    My husband, our kids and me live in a house in the countryside. 
                    <img onclick="play('a1')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a1" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width">
                    Moj mož, moji otroci in jaz živimo v hiši na podeželju.
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    My son Richard is four years old.
                    <img onclick="play('a2')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a2" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width" style="float:unset;">
                    Moj sin Richard je star štiri leta .
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    He is funny and smart. 
                    <img onclick="play('a3')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a3" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width" style="float:unset;">
                    Je zabaven in pameten.
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    My daughter Mary is one year old. 
                    <img onclick="play('a4')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a4" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width" style="float:unset;">
                    Moja hči Mary je stara eno leto.
                </div>
            </div>
            <div class="row">
                <div class="msg user full-width" style="float:unset;">
                    She is a baby. 
                    <img onclick="play('a5')" src="{% static 'svg/common/listen_off.svg' %}" class="listenButton">
                    <audio id="a5" src="{% static 'audio/lesson1/day_week_month/1.mp3' %}"></audio>
                </div>
                <div class="msg jenny translation full-width" style="float:unset;">
                    Dojenček je.
                </div>
            </div>
        </div>
        {% include "character.html" %}
    </div>
</div>
{% endblock %}