.trait {
    width: 90%;
    text-align: center;
}

.drop {
    width: 100%;
    min-height: 6vh;
}

.schedule {
    width: 14%;
    background-color: #E4E3E8;
    padding-top: 1.5vh;
    height: 6vh;
    float:left;
}

.origin {
    width: 14%;
    padding-top: 1.5vh;
    height: 6vh;
    float:left;
}

.l {
    border-radius: 50px 0 0 50px;
}

.r {
    border-radius: 0 50px 50px 0;
}